.home {
  .carousel {
    @extend .flex, .center;

    @media screen and (min-width: $screen-sm) {
      img.photo {
        width: calc(100% / 3);
      }
    }

    @media screen and (max-width: $screen-sm) {
      img.photo {
        width: calc($screen-md / 3);
      }
    }

    overflow: scroll;
    overscroll-behavior: none;

    border-radius: var(--border-radius);

    img.photo {
      margin: 0;
      border-radius: 0;

      object-fit: cover;
    }
  }

  .greeting {
    @extend .flex, .column, .gap, .repel;

    margin: var(--spacer) 0;

    p {
      margin: 0;
    }

    #days {
      @extend .font, .cursive;
      @extend .text, .center;

      font-size: 48px;
    }
  }

  .schedule {
    table {
      border-width: thin 0 thin;

      caption {
        @extend .font, .semi;
        @extend .text, .left;

        font-size: larger;
      }

      tr {
        td {
          text-align: center;

          &:first-child {
            text-align: start;
          }

          &:last-child {
            text-align: end;
          }
        }
      }
    }
  }
}
