.login {
  div.form {
    @extend .flex, .row, .center;

    margin: auto;

    > form {
      @extend .flex, .column, .gap;
      @extend .fx, .tile;

      margin: var(--spacer);
      width: 320px;
      padding: var(--spacer);
    }
  }
}
