<div>
  <div class="blurb">
    <p>
      In addition to the various Judaica items on our main
      registry, we have made a separate registry with Crown
      Judaica.
    </p>

    <p>
      Crown Judaica is located at 2835 Bathurst St, North York,
      ON. If you would like to purchase an item from the list
      below, please visit the store or call them at (647)
      490-3838, and let them know that you would like to purchase
      an item from Zakhary Kaplan and Hannah Silverman’s wedding
      registry.
    </p>

    <p>
      Note that the photos shown may not be the exact colours of
      the items that we listed on the in-store registry; please
      see the item description for the colour.
    </p>

    <p>
      Thank you and we look forward to celebrating with you soon!
    </p>
  </div>

  <ul class="items">
    <li class="item">
      <img src="/assets/img/judaica/challah.png">
      <p>
        Dabbah Challah Board with Two Stripes - Champagne and Silver
      </p>
    </li>
    <li class="item">
      <img src="/assets/img/judaica/knife.png">
      <p>
        Dabbah Challah Knife - Champagne
      </p>
    </li>
    <li class="item">
      <img src="/assets/img/judaica/havdalah1.png">
      <p>
        Dabbah Havdallah Set - Champagne
      </p>
    </li>
    <li class="item">
      <img src="/assets/img/judaica/havdalah2.png">
      <p>
        Emanuel Travel Havdalah Set - Hammered Aluminum - Blue Rings
        (EM-HAD3)
      </p>
    </li>
    <li class="item">
      <img src="/assets/img/judaica/kiddush1.png">
      <p>
        Emanuel Kiddush Tower - Hammered Aluminum (EM-FNH-1)
      </p>
    </li>
    <li class="item">
      <img src="/assets/img/judaica/kiddush2.png">
      <p>
        Emanuel Kiddush Cup Set - Hammered Aluminum (12737)
      </p>
    </li>
    <li class="item">
      <img src="/assets/img/judaica/mezuzah.png">
      <p>
        Dabbah Split Mezuzah Case - 10cm - Assorted Colours x4
      </p>
    </li>
    <li class="item">
      <img src="/assets/img/judaica/shaker.png">
      <p>
        Emanuel Salt Shaker - Jerusalem (EM-SAG1)
      </p>
    </li>
    <li class="item">
      <img src="/assets/img/judaica/washing.png">
      <p>
        Emanuel Washing Cup - Silver/Charcoal (EM-NYS)
      </p>
    </li>
  </ul>
</div>
