@charset "UTF-8";
/*
 * The `abstracts/` folder gathers all Sass tools and helpers used across the
 * project. Every global variable, function, mixin and placeholder should be put
 * in here.
 *
 * The rule of thumb for this folder is that it should not output a single line
 * of CSS when compiled on its own. These are nothing but Sass helpers.
 */
:root {
  --font-main-family: var(--font-family-sans);
  --font-family-cursive: "Corinthia";
  --font-family-mono: "Fira Code";
  --font-family-sans: "Noto Sans";
  --font-family-serif: "Noto Serif";
  --font-weight-bold: 600;
  --font-weight-semi: 500;
  --font-weight-normal: 400;
  --font-weight-light: 300;
  --font-size: 16px;
  --line-height: 1.5;
  --border-radius: .5em;
  --spacer: 1rem;
  --spacer-2: calc(var(--spacer) * 2);
  --spacer-3: calc(var(--spacer) * 3);
  --spacer-small-2: calc(var(--spacer) / 2);
  --spacer-small-3: calc(var(--spacer) / 3);
}
@media (prefers-color-scheme: light) {
  :root {
    --color-accent-fg: var(--oc-violet-8);
    --color-accent-bg: var(--oc-violet-2);
    --color-border: var(--oc-gray-5);
    --color-link: var(--oc-blue-9);
    --color-link-hover: var(--oc-blue-8);
    --color-shadow: var(--oc-gray-5);
    --color-fg: var(--oc-gray-8);
    --color-fg-2: var(--oc-gray-7);
    --color-fg-3: var(--oc-gray-6);
    --color-bg: var(--oc-gray-0);
    --color-bg-2: var(--oc-gray-2);
    --color-bg-3: var(--oc-gray-4);
    --color-user-error-bg: var(--oc-red-2);
    --color-user-info-bg: var(--oc-green-2);
    --color-user-warn-bg: var(--oc-yellow-2);
    --color-user-debug-bg: var(--oc-blue-2);
    --color-user-trace-bg: var(--oc-cyan-2);
    --color-user-error-fg: var(--oc-red-7);
    --color-user-info-fg: var(--oc-green-7);
    --color-user-warn-fg: var(--oc-yellow-7);
    --color-user-debug-fg: var(--oc-blue-7);
    --color-user-trace-fg: var(--oc-cyan-7);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-accent-fg: var(--oc-violet-4);
    --color-accent-bg: var(--oc-violet-9);
    --color-border: var(--oc-gray-6);
    --color-link: var(--oc-blue-5);
    --color-link-hover: var(--oc-blue-4);
    --color-shadow: var(--oc-black);
    --color-fg: var(--oc-gray-3);
    --color-fg-2: var(--oc-gray-0);
    --color-fg-3: var(--oc-gray-5);
    --color-bg: var(--oc-gray-9);
    --color-bg-2: var(--oc-gray-8);
    --color-bg-3: var(--oc-gray-7);
    --color-user-error-bg: var(--oc-red-7);
    --color-user-info-bg: var(--oc-green-7);
    --color-user-warn-bg: var(--oc-yellow-7);
    --color-user-debug-bg: var(--oc-blue-7);
    --color-user-trace-bg: var(--oc-cyan-7);
    --color-user-error-fg: var(--oc-red-4);
    --color-user-info-fg: var(--oc-green-4);
    --color-user-warn-fg: var(--oc-yellow-4);
    --color-user-debug-fg: var(--oc-blue-4);
    --color-user-trace-fg: var(--oc-cyan-4);
  }
}

/*
 * Most projects will have a `vendors/` folder containing all the CSS files from
 * external libraries and frameworks – Normalize, Bootstrap, jQueryUI,
 * FancyCarouselSliderjQueryPowered, and so on. Putting those aside in the same
 * folder is a good way to say “Hey, this is not from me, not my code, not my
 * responsibility”.
 */
/*
 * The `base/` folder holds what we might call the boilerplate code for the
 * project. In there, you might find the reset file, some typographic rules, and
 * probably a stylesheet defining some standard styles for commonly used HTML
 * elements (that I like to call `_base.scss`).
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: normal;
}

body,
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: var(--spacer);
}

p {
  margin-top: 0;
  margin-bottom: var(--spacer);
}

a {
  text-decoration: none;
  color: var(--color-link);
}
a:hover, a:focus {
  text-decoration: underline;
  color: var(--color-link-hover);
}
a:visited {
  color: var(--color-link);
}
a:visited:hover, a:visited:focus {
  color: var(--color-link-hover);
}

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

dd {
  margin-left: 0;
}

dt {
  margin-top: var(--spacer-small-2);
  font-weight: var(--font-weight-bold);
  font-style: italic;
}

blockquote {
  opacity: 0.65;
  margin: 0 0 var(--spacer) 0;
  border-left: 0.25em solid var(--color-border);
  padding: 0 var(--spacer);
}

figure {
  margin: 0;
}

figcaption {
  margin-bottom: var(--spacer);
  font-size: 0.85em;
}

img {
  display: block;
  margin: var(--spacer);
  border-radius: var(--border-radius);
  max-width: 100%;
}

code,
pre {
  font-family: var(--font-family-mono);
}

code {
  border-bottom: 1.5px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 0.05em 0.25em;
  background-color: var(--color-bg-2);
}

pre {
  display: block;
  overflow: auto;
  margin: var(--spacer) 0;
  border-radius: var(--border-radius);
  padding: var(--spacer-small-2);
}
pre code {
  border: 0;
  padding: 0;
  background-color: inherit;
}

table {
  margin-top: 0;
  margin-bottom: var(--spacer);
  border: 0 solid var(--color-border);
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: inherit;
  padding: 0.25em 0.5em;
}

th {
  text-align: left;
}

thead th {
  border-bottom-color: currentColor;
}

mark {
  border-radius: var(--border-radius);
  padding: 0.15em;
  color: var(--color-bg);
  background-color: var(--color-user-info);
}

hr {
  border: 0;
  width: 100%;
  height: 0.5px;
  background-color: var(--color-border);
}

abbr {
  font-weight: bold;
  text-transform: uppercase;
}
abbr[title] {
  border-bottom: 1px dotted var(--color-border);
  cursor: help;
}

/*
 * The `layout/` folder contains everything that takes part in laying out the site
 * or application. This folder could have stylesheets for the main parts of the
 * site (header, footer, navigation, sidebar...), the grid system or even CSS
 * styles for all the forms.
 */
/*
 * For smaller components, there is the `components/` folder. While `layout/` is
 * macro (defining the global wireframe), `components/` is more focused on
 * widgets. It contains all kind of specific modules like a slider, a loader, a
 * widget, and basically anything along those lines. There are usually a lot of
 * files in `components/` since the whole site/application should be mostly
 * composed of tiny modules.
 */
.fg-primary, .fg.primary, .primary.color, .fg.main, .color.main, body.color, body,
body.bg.main {
  color: var(--color-fg);
}
.fg-secondary, .fg.secondary, .secondary.color, body.secondary {
  color: var(--color-fg-2);
}
.fg-tertiary, .fg.tertiary, .tertiary.color, body.tertiary {
  color: var(--color-fg-3);
}
.fg-accent, header.header, footer.footer, .fg.accent, .accent.color, body.accent {
  color: var(--color-accent-fg);
}

.bg-primary, header.header, .bg.primary, .primary.color, body.fg.main, .color.main, body.color, body,
.bg.main {
  background-color: var(--color-bg);
}
.bg-secondary, .bg.secondary, .secondary.color, body.secondary {
  background-color: var(--color-bg-2);
}
.bg-tertiary, .bg.tertiary, .tertiary.color, body.tertiary {
  background-color: var(--color-bg-3);
}
.bg-accent, footer.footer, .bg.accent, .accent.color, body.accent {
  background-color: var(--color-accent-bg);
}

.flex, .rsvp div.form > form .radio, .rsvp div.form > form, .rsvp div.form, .login div.form > form, .login div.form, .dashboard ul.guests li.guest > a, .dashboard ul.guests, nav.nav, header.header {
  display: flex;
}
.flex.center.horizontal, .rsvp div.form > form .section .flex.horizontal.item, .rsvp div.form > form.horizontal, .login div.form > form.horizontal, .dashboard ul.guests li.guest > a.center.horizontal, .dashboard ul.guests .rsvp div.form > form .section li.guest > a.horizontal.item, .rsvp div.form > form .section .dashboard ul.guests li.guest > a.horizontal.item, .dashboard ul.guests .rsvp div.form > form li.guest > a.horizontal.radio, .rsvp div.form > form .dashboard ul.guests li.guest > a.horizontal.radio, .dashboard ul.horizontal.guests, nav.flex.horizontal.nav, header.flex.horizontal.header, footer.flex.horizontal.footer, .flex.center.flex-row, .rsvp div.form > form .section .flex.flex-row.item, .rsvp div.form > form.flex-row, .login div.form > form.flex-row, .dashboard ul.guests li.guest > a.center.flex-row, .dashboard ul.guests .rsvp div.form > form .section li.guest > a.flex-row.item, .rsvp div.form > form .section .dashboard ul.guests li.guest > a.flex-row.item, .dashboard ul.guests .rsvp div.form > form li.guest > a.flex-row.radio, .rsvp div.form > form .dashboard ul.guests li.guest > a.flex-row.radio, .dashboard ul.flex-row.guests, nav.flex.flex-row.nav, header.flex.flex-row.header, footer.flex.flex-row.footer, .flex.center.row, .rsvp div.form > form .section .flex.row.item, .rsvp div.form > form .radio, .rsvp div.form > form.row, .rsvp div.form, .login div.form > form.row, .login div.form, .dashboard ul.guests li.guest > a.center.row, .dashboard ul.guests .rsvp div.form > form .section li.guest > a.row.item, .rsvp div.form > form .section .dashboard ul.guests li.guest > a.row.item, .dashboard ul.guests .rsvp div.form > form li.guest > a.row.radio, .rsvp div.form > form .dashboard ul.guests li.guest > a.row.radio, .dashboard ul.row.guests, nav.flex.row.nav, nav.nav, header.flex.row.header, header.header, footer.flex.row.footer {
  justify-content: center;
}
.flex.center.vertical, .rsvp div.form > form .section .flex.vertical.item, .rsvp div.form > form .vertical.radio, .rsvp div.vertical.form, .login div.vertical.form, .dashboard ul.vertical.guests, nav.vertical.nav, header.vertical.header, footer.flex.vertical.footer, .flex.center.flex-column, .rsvp div.form > form .section .flex.flex-column.item, .rsvp div.form > form .flex-column.radio, .rsvp div.flex-column.form, .login div.flex-column.form, .dashboard ul.flex-column.guests, nav.flex-column.nav, header.flex-column.header, footer.flex.flex-column.footer, .flex.center.column, .rsvp div.form > form .section .flex.column.item, .rsvp div.form > form .column.radio, .rsvp div.form > form, .rsvp div.column.form, .login div.form > form, .login div.column.form, .dashboard ul.guests li.guest > a.center, .dashboard ul.guests .rsvp div.form > form .section li.guest > a.item, .rsvp div.form > form .section .dashboard ul.guests li.guest > a.item, .dashboard ul.guests .rsvp div.form > form li.guest > a.radio, .rsvp div.form > form .dashboard ul.guests li.guest > a.radio, .dashboard ul.column.guests, nav.column.nav, header.column.header, footer.flex.column.footer {
  align-items: center;
}
.flex-column, .flex.column, .rsvp div.form > form .column.radio, .rsvp div.form > form, .rsvp div.column.form, .login div.form > form, .login div.column.form, .dashboard ul.guests li.guest > a, .dashboard ul.column.guests, nav.column.nav, header.column.header {
  flex-direction: column;
}
.flex-row, .flex.row, .rsvp div.form > form .radio, .rsvp div.form > form.row, .rsvp div.form, .login div.form > form.row, .login div.form, .dashboard ul.guests li.guest > a.row, .dashboard ul.guests .rsvp div.form > form li.guest > a.radio, .rsvp div.form > form .dashboard ul.guests li.guest > a.radio, .dashboard ul.row.guests, nav.flex.nav, nav.row.nav, nav.nav, header.flex.header, header.row.header, header.header {
  flex-direction: row;
}
.flex.gap, .rsvp div.form > form .radio, .rsvp div.form > form, .rsvp div.gap.form, .login div.form > form, .login div.gap.form, .dashboard ul.guests li.guest > a.gap, .dashboard ul.guests .rsvp div.form > form li.guest > a.radio, .rsvp div.form > form .dashboard ul.guests li.guest > a.radio, .dashboard ul.guests, nav.flex.nav, nav.nav, header.gap.header {
  gap: var(--spacer);
}

.ft.main,
.font.main,
h1.main,
h2.main,
h3.main,
h4.main,
h5.main,
h6.main,
body {
  font-family: var(--font-main-family);
}
.ft-cursive, .ft.cursive,
.font-cursive,
.font.cursive,
body.cursive,
h1.cursive,
h2.cursive,
h3.cursive,
h4.cursive,
h5.cursive,
h6.cursive {
  font-family: var(--font-family-cursive), cursive;
}
.ft-mono, .ft.mono,
.font-mono,
.font.mono,
body.mono,
h1.mono,
h2.mono,
h3.mono,
h4.mono,
h5.mono,
h6.mono {
  font-family: var(--font-family-mono), monospace;
}
.ft-sans, .ft.sans,
.font-sans,
.font.sans,
body.sans,
h1.sans,
h2.sans,
h3.sans,
h4.sans,
h5.sans,
h6.sans {
  font-family: var(--font-family-sans), sans-serif;
}
.ft-serif, .ft.serif,
.font-serif,
.font.serif,
body.serif,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-serif), serif;
}
.ft-bold, .ft.bold,
.font-bold,
.font.bold,
body.bold,
h1.bold,
h2.bold,
h3.bold,
h4.bold,
h5.bold,
h6.bold {
  font-weight: var(--font-weight-bold);
}
.ft-semi, .ft.semi,
.font-semi,
.font.semi,
body.semi,
h1.semi,
h2.semi,
h3.semi,
h4.semi,
h5.semi,
h6.semi {
  font-weight: var(--font-weight-semi);
}
.ft-normal, .ft.normal,
.font-normal,
.font.normal,
body.normal,
h1.normal,
h2.normal,
h3.normal,
h4.normal,
h5.normal,
h6.normal {
  font-weight: var(--font-weight-normal);
}
.ft-light, .ft.bold,
.font-light,
.font.bold,
body.bold,
h1.bold,
h2.bold,
h3.bold,
h4.bold,
h5.bold,
h6.bold {
  font-weight: var(--font-weight-light);
}

.fx-animate, .fx.animate, .rsvp div.form > form .section .animate.item, .rsvp div.form > form .radio > label.animate:has(input[type=radio]), .login div.form > form.animate, textarea.animate, input.animate, .fx.fx-float, .rsvp div.form > form .section .fx-float.item, .rsvp div.form > form .radio > label.fx-float:has(input[type=radio]), .login div.form > form.fx-float, textarea.fx-float, input.fx-float, .fx.float, .rsvp div.form > form .section .float.item, .rsvp div.form > form .radio > label.float:has(input[type=radio]), .login div.form > form.float, .dashboard ul.guests li.guest > a, nav.nav a.item, textarea.float, input.float,
.fx.effects-float,
.rsvp div.form > form .section .effects-float.item,
.rsvp div.form > form .radio > label.effects-float:has(input[type=radio]),
.login div.form > form.effects-float,
textarea.effects-float,
input.effects-float,
.effects-animate,
.effects.animate,
.effects.fx-float,
.effects.effects-float,
.effects.float {
  transition: all 0.3s ease;
}
.fx-float:hover, .fx.float:hover, .rsvp div.form > form .section .float.item:hover, .rsvp div.form > form .radio > label.float:hover:has(input[type=radio]), .login div.form > form.float:hover, .dashboard ul.guests li.guest > a:hover, nav.nav a.item:hover, textarea.float:hover, input.float:hover,
.effects-float:hover,
.effects.float:hover {
  transform: translate(0, -2px);
}
.fx-outline, .fx.outline, .rsvp div.form > form .section .outline.item, .rsvp div.form > form .radio > label.outline:has(input[type=radio]), nav.nav a.outline.item, textarea.outline, input.outline, .fx.fx-tile, .rsvp div.form > form .section .fx-tile.item, .rsvp div.form > form .radio > label.fx-tile:has(input[type=radio]), nav.nav a.fx-tile.item, textarea.fx-tile, input.fx-tile, .fx.tile, .rsvp div.form > form .section .tile.item, .rsvp div.form > form .radio > label.tile:has(input[type=radio]), .login div.form > form, .dashboard ul.guests li.guest > a, nav.nav a.tile.item, textarea.tile, input.tile,
.fx.effects-tile,
.rsvp div.form > form .section .effects-tile.item,
.rsvp div.form > form .radio > label.effects-tile:has(input[type=radio]),
nav.nav a.effects-tile.item,
textarea.effects-tile,
input.effects-tile,
.effects-outline,
.effects.outline,
.effects.fx-tile,
.effects.effects-tile,
.effects.tile {
  border: 0.5px solid var(--color-border);
}
.fx-round, .fx.round, .rsvp div.form > form .section .round.item, .rsvp div.form > form .radio > label:has(input[type=radio]), nav.nav a.item, textarea.fx, .rsvp div.form > form .section textarea.item, textarea, input.fx, .rsvp div.form > form .section input.item, input, .fx.fx-tile, .rsvp div.form > form .section .fx-tile.item, textarea.fx-tile, input.fx-tile, .fx.tile, .rsvp div.form > form .section .tile.item, .login div.form > form, .dashboard ul.guests li.guest > a, textarea.tile, input.tile,
.fx.effects-tile,
.rsvp div.form > form .section .effects-tile.item,
textarea.effects-tile,
input.effects-tile,
.effects-round,
.effects.round,
textarea.effects,
input.effects,
.effects.fx-tile,
.effects.effects-tile,
.effects.tile {
  border-radius: var(--border-radius);
}
.fx-shadow, .fx.shadow, .rsvp div.form > form .section .shadow.item, .rsvp div.form > form .radio > label:has(input[type=radio]), nav.nav a.item, textarea.shadow, input.shadow, .fx.fx-tile, .rsvp div.form > form .section .fx-tile.item, textarea.fx-tile, input.fx-tile, .fx.tile, .rsvp div.form > form .section .tile.item, .login div.form > form, .dashboard ul.guests li.guest > a, textarea.tile, input.tile,
.fx.effects-tile,
.rsvp div.form > form .section .effects-tile.item,
textarea.effects-tile,
input.effects-tile,
.effects-shadow,
.effects.shadow,
.effects.fx-tile,
.effects.effects-tile,
.effects.tile {
  box-shadow: 0 2px 3px var(--color-shadow);
}
.fx-shadow.float:hover, .fx.shadow.float:hover, .rsvp div.form > form .section .shadow.float.item:hover, .rsvp div.form > form .radio > label.float:hover:has(input[type=radio]), nav.nav a.item:hover, textarea.shadow.float:hover, input.shadow.float:hover, .fx.float.fx-tile:hover, .rsvp div.form > form .section .float.fx-tile.item:hover, textarea.float.fx-tile:hover, input.float.fx-tile:hover, .fx.float.tile:hover, .rsvp div.form > form .section .float.tile.item:hover, .login div.form > form.float:hover, .dashboard ul.guests li.guest > a:hover, textarea.float.tile:hover, input.float.tile:hover,
.fx.float.effects-tile:hover,
.rsvp div.form > form .section .float.effects-tile.item:hover,
textarea.float.effects-tile:hover,
input.float.effects-tile:hover,
.effects-shadow.float:hover,
.effects.shadow.float:hover,
.effects.float.fx-tile:hover,
.effects.float.effects-tile:hover,
.effects.float.tile:hover {
  box-shadow: 0 4px 9px -5px var(--color-shadow);
}
.fx-unlink, .fx.unlink, .rsvp div.form > form .section .unlink.item, .rsvp div.form > form .radio > label.unlink:has(input[type=radio]), .login div.form > form.unlink, .dashboard ul.guests li.guest > a, nav.nav a.item, textarea.unlink, input.unlink,
.effects-unlink,
.effects.unlink {
  color: inherit;
  text-decoration: none;
}
.fx-unlink:visited, .fx-unlink:visited:hover, .fx-unlink:hover, .fx-unlink:focus, .fx.unlink:visited, .rsvp div.form > form .section .unlink.item:visited, .rsvp div.form > form .radio > label.unlink:visited:has(input[type=radio]), .login div.form > form.unlink:visited, .dashboard ul.guests li.guest > a:visited, nav.nav a.item:visited, textarea.unlink:visited, input.unlink:visited, .fx.unlink:visited:hover, .fx.unlink:hover, .rsvp div.form > form .section .unlink.item:hover, .rsvp div.form > form .radio > label.unlink:hover:has(input[type=radio]), .login div.form > form.unlink:hover, .dashboard ul.guests li.guest > a:hover, nav.nav a.item:hover, textarea.unlink:hover, input.unlink:hover, .fx.unlink:focus, .rsvp div.form > form .section .unlink.item:focus, .rsvp div.form > form .radio > label.unlink:focus:has(input[type=radio]), .login div.form > form.unlink:focus, .dashboard ul.guests li.guest > a:focus, nav.nav a.item:focus, textarea.unlink:focus, input.unlink:focus,
.effects-unlink:visited,
.effects-unlink:visited:hover,
.effects-unlink:hover,
.effects-unlink:focus,
.effects.unlink:visited,
.effects.unlink:visited:hover,
.effects.unlink:hover,
.effects.unlink:focus {
  color: inherit;
  text-decoration: none;
}

.msg.error, .msg.warn, .msg.info, .msg.debug, .msg.trace,
.message.error,
.message.warn,
.message.info,
.message.debug,
.message.trace {
  border-style: double;
  border-width: thick;
  border-radius: var(--border-radius);
  padding: var(--spacer);
  color: var(--color-fg);
}
.msg.error,
.message.error {
  border-color: var(--color-user-error-fg);
  background-color: var(--color-user-error-bg);
}
.msg.warn,
.message.warn {
  border-color: var(--color-user-warn-fg);
  background-color: var(--color-user-warn-bg);
}
.msg.info,
.message.info {
  border-color: var(--color-user-into-fg);
  background-color: var(--color-user-info-bg);
}
.msg.debug,
.message.debug {
  border-color: var(--color-user-debug-fg);
  background-color: var(--color-user-debug-bg);
}
.msg.trace,
.message.trace {
  border-color: var(--color-user-trace-fg);
  background-color: var(--color-user-trace-bg);
}

.pos-left, .pos.left,
.position-left,
.position.left {
  float: left;
}
.pos-center, .pos.center, .rsvp div.form > form .section .pos.item, .rsvp div.form > form .pos.radio, .rsvp div.form > form.pos, .rsvp div.pos.form, .login div.form > form.pos, .login div.pos.form, .dashboard ul.pos.guests, nav.pos.nav, header.pos.header, footer.pos.footer,
.position-center,
.position.center,
.rsvp div.form > form .section .position.item,
.rsvp div.form > form .position.radio,
.rsvp div.form > form.position,
.rsvp div.position.form,
.login div.form > form.position,
.login div.position.form,
.dashboard ul.position.guests,
nav.position.nav,
header.position.header,
footer.position.footer {
  float: center;
}
.pos-right, .pos.right,
.position-right,
.position.right {
  float: right;
}

.tx-left, .tx.left,
.text-left,
.text.left,
header.left.header,
footer.left.footer {
  text-align: left;
}
.tx-center, .rsvp div.form > form .radio > label:has(input[type=radio]), .tx.center, .rsvp div.form > form .section .tx.item, .rsvp div.form > form .tx.radio, .rsvp div.form > form.tx, .rsvp div.tx.form, .login div.form > form.tx, .login div.tx.form, .dashboard ul.tx.guests, nav.tx.nav,
.text-center,
.text.center,
.rsvp div.form > form .section .text.item,
.rsvp div.form > form .text.radio,
.rsvp div.form > form.text,
.rsvp div.text.form,
.login div.form > form.text,
.login div.text.form,
.dashboard ul.text.guests,
nav.text.nav,
header.header,
footer.footer {
  text-align: center;
}
.tx-right, .tx.right,
.text-right,
.text.right,
header.right.header,
footer.right.footer {
  text-align: right;
}
.tx-justify, .tx.justify,
.text-justify,
.text.justify,
header.justify.header,
footer.justify.footer {
  text-align: justify;
}

/*
 * If you have page-specific styles, it is better to put them in a `pages/`
 * folder, in a file named after the page. For instance, it’s not uncommon to
 * have very specific styles for the home page hence the need for a `_home.scss`
 * file in `pages/`.
 */
/*
 * On large sites and applications, it is not unusual to have different themes.
 * There are certainly different ways of dealing with themes but I personally
 * like having them all in a `themes/` folder.
 */
/*
 * The `abstracts/` folder gathers all Sass tools and helpers used across the
 * project. Every global variable, function, mixin and placeholder should be put
 * in here.
 *
 * The rule of thumb for this folder is that it should not output a single line
 * of CSS when compiled on its own. These are nothing but Sass helpers.
 */
:root {
  --color-accent-fg: #061d56;
  --color-accent-bg: #e6eff5;
  --color-border: #d1a26c;
  --color-link: var(--oc-blue-9);
  --color-link-hover: var(--oc-blue-7);
  --color-shadow: var(--oc-gray-5);
  --color-fg: #060f42;
  --color-fg-2: var(--oc-gray-7);
  --color-fg-3: var(--oc-gray-6);
  --color-bg: var(--oc-gray-0);
  --color-bg-2: var(--oc-gray-2);
  --color-bg-3: var(--oc-gray-4);
  --color-user-error-bg: var(--oc-red-3);
  --color-user-info-bg: var(--oc-green-3);
  --color-user-warn-bg: var(--oc-yellow-3);
  --color-user-debug-bg: var(--oc-blue-3);
  --color-user-trace-bg: var(--oc-cyan-3);
  --color-user-error-fg: var(--oc-red-7);
  --color-user-info-fg: var(--oc-green-7);
  --color-user-warn-fg: var(--oc-yellow-7);
  --color-user-debug-fg: var(--oc-blue-7);
  --color-user-trace-fg: var(--oc-cyan-7);
  --font-main-family: var(--font-family-serif);
  --font-family-cursive: "Corinthia";
  --font-family-mono: "Fira Code";
  --font-family-sans: "Cabin";
  --font-family-serif: "Joan";
  --font-weight-bold: 600;
  --font-weight-semi: 500;
  --font-weight-normal: 400;
  --font-weight-light: 300;
  --font-size: 16px;
  --line-height: 1.5;
  --border-radius: .5em;
  --spacer: 1rem;
  --spacer-2: calc(var(--spacer) * 2);
  --spacer-3: calc(var(--spacer) * 3);
  --spacer-small-2: calc(var(--spacer) / 2);
  --spacer-small-3: calc(var(--spacer) / 3);
}

/*
 * Most projects will have a `vendors/` folder containing all the CSS files from
 * external libraries and frameworks – Normalize, Bootstrap, jQueryUI,
 * FancyCarouselSliderjQueryPowered, and so on. Putting those aside in the same
 * folder is a good way to say “Hey, this is not from me, not my code, not my
 * responsibility”.
 */
/*
 * The `base/` folder holds what we might call the boilerplate code for the
 * project. In there, you might find the reset file, some typographic rules, and
 * probably a stylesheet defining some standard styles for commonly used HTML
 * elements (that I like to call `_base.scss`).
 */
input {
  padding: var(--spacer-small-3);
}
input[type=submit] {
  cursor: pointer;
}
input[type=text]:required:valid {
  background-color: var(--color-accent-bg);
}

textarea {
  min-width: 100%;
  padding: var(--spacer-small-3);
  resize: none;
}

/*
 * The `layout/` folder contains everything that takes part in laying out the site
 * or application. This folder could have stylesheets for the main parts of the
 * site (header, footer, navigation, sidebar...), the grid system or even CSS
 * styles for all the forms.
 */
.content {
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
  padding: var(--spacer);
  width: 100%;
}
@media screen and (min-width: 32rem) {
  .content {
    padding-left: var(--spacer-2);
    padding-right: var(--spacer-2);
  }
}
@media screen and (min-width: 108rem) {
  .content {
    max-width: 72rem;
    padding-left: var(--spacer-3);
    padding-right: var(--spacer-3);
  }
}

footer.footer {
  padding: var(--spacer) 0;
}
footer.footer * {
  margin: 0;
  padding: 0;
}

header.header {
  position: sticky;
  top: 0;
  gap: 4%;
  border-bottom: 1px solid var(--color-accent-bg);
  padding: var(--spacer) 0;
}
header.header * {
  margin: 0;
  padding: 0;
}
header.header .flourish {
  height: 5em;
  width: 10em;
}
header.header .headline {
  white-space: nowrap;
}
header.header hr {
  margin-top: -12px;
}
@media screen and (max-width: 20rem) {
  header.header .flourish {
    display: none;
  }
}
@media screen and (max-width: 32rem) {
  header.header .flourish {
    height: 3em;
    width: 6em;
  }
}

nav.nav {
  margin-top: var(--spacer);
}
nav.nav a.item {
  padding: var(--spacer-small-3);
}
nav.nav a.item .current {
  background-color: var(--color-accent-fg);
  color: var(--color-accent-bg);
}

/*
 * For smaller components, there is the `components/` folder. While `layout/` is
 * macro (defining the global wireframe), `components/` is more focused on
 * widgets. It contains all kind of specific modules like a slider, a loader, a
 * widget, and basically anything along those lines. There are usually a lot of
 * files in `components/` since the whole site/application should be mostly
 * composed of tiny modules.
 */
/*
 * If you have page-specific styles, it is better to put them in a `pages/`
 * folder, in a file named after the page. For instance, it’s not uncommon to
 * have very specific styles for the home page hence the need for a `_home.scss`
 * file in `pages/`.
 */
.dashboard ul.guests {
  margin: var(--spacer);
  padding: 0;
  list-style-type: none;
}
@media screen and (min-width: 20rem) {
  .dashboard ul.guests {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 20rem) {
  .dashboard ul.guests {
    flex-direction: column;
  }
}
.dashboard ul.guests li.guest > a {
  padding: var(--spacer-small-2);
}
.dashboard ul.guests li.guest > a table, .dashboard ul.guests li.guest > a th, .dashboard ul.guests li.guest > a tr {
  margin: 0;
  border: 0;
  border-style: hidden;
  padding: 0;
}
.dashboard ul.guests li.guest > a table col.icon {
  width: 0;
}
.dashboard ul.guests li.guest > a table col.data {
  width: 100%;
}

.login div.form {
  margin: auto;
}
.login div.form > form {
  margin: var(--spacer);
  width: 320px;
  padding: var(--spacer);
}
.login div.form > form input[type=submit] {
  width: 6em;
}
.login div.form > form input[type=text] {
  width: 100%;
}

.rsvp div.form {
  margin: auto;
}
.rsvp div.form > form {
  max-width: 420px;
}
.rsvp div.form > form input[type=submit] {
  min-width: 6em;
}
.rsvp div.form > form input[type=radio] {
  display: none;
}
.rsvp div.form > form .radio > label:has(input[type=radio]) {
  padding: var(--spacer-small-3);
  min-width: 4em;
  cursor: pointer;
}
.rsvp div.form > form .radio > label:has(input[type=radio]):has(:checked) {
  background-color: var(--color-accent-fg);
  color: var(--color-accent-bg);
}
.rsvp div.form > form .section .item p {
  margin-bottom: 0;
}
.rsvp div.form > form:has(input[type=radio][id=no]:checked) .noonly {
  display: revert;
}
.rsvp div.form > form:has(input[type=radio][id=yes]:checked) .yesonly {
  display: revert;
}
.rsvp div.form > form .noonly,
.rsvp div.form > form .yesonly {
  display: none;
}
.rsvp div.form p {
  overflow-wrap: break-word;
  width: auto;
}

/*
 * On large sites and applications, it is not unusual to have different themes.
 * There are certainly different ways of dealing with themes but I personally
 * like having them all in a `themes/` folder.
 */

/*# sourceMappingURL=style.css.map */
