@charset "UTF-8";
/*
 * The `abstracts/` folder gathers all Sass tools and helpers used across the
 * project. Every global variable, function, mixin and placeholder should be put
 * in here.
 *
 * The rule of thumb for this folder is that it should not output a single line
 * of CSS when compiled on its own. These are nothing but Sass helpers.
 */
:root {
  --font-main-family: var(--font-family-sans);
  --font-family-cursive: "Corinthia";
  --font-family-mono: "Fira Code";
  --font-family-sans: "Noto Sans";
  --font-family-serif: "Noto Serif";
  --font-weight-bold: 600;
  --font-weight-semi: 500;
  --font-weight-normal: 400;
  --font-weight-light: 300;
  --font-size: 16px;
  --line-height: 1.5;
  --border-radius: .5em;
  --spacer: 1rem;
  --spacer-2: calc(var(--spacer) * 2);
  --spacer-3: calc(var(--spacer) * 3);
  --spacer-small-2: calc(var(--spacer) / 2);
  --spacer-small-3: calc(var(--spacer) / 3);
}
@media (prefers-color-scheme: light) {
  :root {
    --color-accent-fg: var(--oc-violet-8);
    --color-accent-bg: var(--oc-violet-2);
    --color-border: var(--oc-gray-5);
    --color-link: var(--oc-blue-9);
    --color-link-hover: var(--oc-blue-8);
    --color-shadow: var(--oc-gray-5);
    --color-fg: var(--oc-gray-8);
    --color-fg-2: var(--oc-gray-7);
    --color-fg-3: var(--oc-gray-6);
    --color-bg: var(--oc-gray-0);
    --color-bg-2: var(--oc-gray-2);
    --color-bg-3: var(--oc-gray-4);
    --color-user-error-bg: var(--oc-red-2);
    --color-user-info-bg: var(--oc-green-2);
    --color-user-warn-bg: var(--oc-yellow-2);
    --color-user-debug-bg: var(--oc-blue-2);
    --color-user-trace-bg: var(--oc-cyan-2);
    --color-user-error-fg: var(--oc-red-7);
    --color-user-info-fg: var(--oc-green-7);
    --color-user-warn-fg: var(--oc-yellow-7);
    --color-user-debug-fg: var(--oc-blue-7);
    --color-user-trace-fg: var(--oc-cyan-7);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-accent-fg: var(--oc-violet-4);
    --color-accent-bg: var(--oc-violet-9);
    --color-border: var(--oc-gray-6);
    --color-link: var(--oc-blue-5);
    --color-link-hover: var(--oc-blue-4);
    --color-shadow: var(--oc-black);
    --color-fg: var(--oc-gray-3);
    --color-fg-2: var(--oc-gray-0);
    --color-fg-3: var(--oc-gray-5);
    --color-bg: var(--oc-gray-9);
    --color-bg-2: var(--oc-gray-8);
    --color-bg-3: var(--oc-gray-7);
    --color-user-error-bg: var(--oc-red-7);
    --color-user-info-bg: var(--oc-green-7);
    --color-user-warn-bg: var(--oc-yellow-7);
    --color-user-debug-bg: var(--oc-blue-7);
    --color-user-trace-bg: var(--oc-cyan-7);
    --color-user-error-fg: var(--oc-red-4);
    --color-user-info-fg: var(--oc-green-4);
    --color-user-warn-fg: var(--oc-yellow-4);
    --color-user-debug-fg: var(--oc-blue-4);
    --color-user-trace-fg: var(--oc-cyan-4);
  }
}

/*
 * Most projects will have a `vendors/` folder containing all the CSS files from
 * external libraries and frameworks – Normalize, Bootstrap, jQueryUI,
 * FancyCarouselSliderjQueryPowered, and so on. Putting those aside in the same
 * folder is a good way to say “Hey, this is not from me, not my code, not my
 * responsibility”.
 */
/*
 * The `base/` folder holds what we might call the boilerplate code for the
 * project. In there, you might find the reset file, some typographic rules, and
 * probably a stylesheet defining some standard styles for commonly used HTML
 * elements (that I like to call `_base.scss`).
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: normal;
}

body,
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: var(--spacer);
}

p {
  margin-top: 0;
  margin-bottom: var(--spacer);
}

a {
  text-decoration: none;
  color: var(--color-link);
}
a:hover, a:focus {
  text-decoration: underline;
  color: var(--color-link-hover);
}
a:visited {
  color: var(--color-link);
}
a:visited:hover, a:visited:focus {
  color: var(--color-link-hover);
}

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

dd {
  margin-left: 0;
}

dt {
  margin-top: var(--spacer-small-2);
  font-weight: var(--font-weight-bold);
  font-style: italic;
}

blockquote {
  opacity: 0.65;
  margin: 0 0 var(--spacer) 0;
  border-left: 0.25em solid var(--color-border);
  padding: 0 var(--spacer);
}

figure {
  margin: 0;
}

figcaption {
  margin-bottom: var(--spacer);
  font-size: 0.85em;
}

img {
  display: block;
  margin: var(--spacer);
  border-radius: var(--border-radius);
  max-width: 100%;
}

code,
pre {
  font-family: var(--font-family-mono);
}

code {
  border-bottom: 1.5px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 0.05em 0.25em;
  background-color: var(--color-bg-2);
}

pre {
  display: block;
  overflow: auto;
  margin: var(--spacer) 0;
  border-radius: var(--border-radius);
  padding: var(--spacer-small-2);
}
pre code {
  border: 0;
  padding: 0;
  background-color: inherit;
}

table {
  margin-top: 0;
  margin-bottom: var(--spacer);
  border: 0 solid var(--color-border);
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: inherit;
  padding: 0.25em 0.5em;
}

th {
  text-align: left;
}

thead th {
  border-bottom-color: currentColor;
}

mark {
  border-radius: var(--border-radius);
  padding: 0.15em;
  color: var(--color-bg);
  background-color: var(--color-user-info);
}

hr {
  border: 0;
  width: 100%;
  height: 0.5px;
  background-color: var(--color-border);
}

abbr {
  font-weight: bold;
  text-transform: uppercase;
}
abbr[title] {
  border-bottom: 1px dotted var(--color-border);
  cursor: help;
}

/*
 * The `layout/` folder contains everything that takes part in laying out the site
 * or application. This folder could have stylesheets for the main parts of the
 * site (header, footer, navigation, sidebar...), the grid system or even CSS
 * styles for all the forms.
 */
/*
 * For smaller components, there is the `components/` folder. While `layout/` is
 * macro (defining the global wireframe), `components/` is more focused on
 * widgets. It contains all kind of specific modules like a slider, a loader, a
 * widget, and basically anything along those lines. There are usually a lot of
 * files in `components/` since the whole site/application should be mostly
 * composed of tiny modules.
 */
.fg-primary, .fg.primary, .primary.color, .fg.main, .color.main, body.color, body,
body.bg.main {
  color: var(--color-fg);
}
.fg-secondary, .fg.secondary, .secondary.color, body.secondary {
  color: var(--color-fg-2);
}
.fg-tertiary, .fg.tertiary, .tertiary.color, body.tertiary {
  color: var(--color-fg-3);
}
.fg-accent, header.header, footer.footer, .fg.accent, .accent.color, body.accent {
  color: var(--color-accent-fg);
}

.bg-primary, header.header, .bg.primary, .primary.color, body.fg.main, .color.main, body.color, body,
.bg.main {
  background-color: var(--color-bg);
}
.bg-secondary, .bg.secondary, .secondary.color, body.secondary {
  background-color: var(--color-bg-2);
}
.bg-tertiary, .bg.tertiary, .tertiary.color, body.tertiary {
  background-color: var(--color-bg-3);
}
.bg-accent, footer.footer, .bg.accent, .accent.color, body.accent {
  background-color: var(--color-accent-bg);
}

.flex, .rsvp div.form > form .radio, .rsvp div.form > form, .rsvp div.form, .registry .tabbed .judaica ul.items, .registry .tabbed ul.tabs, .login div.form > form, .login div.form, .home .greeting, .home .carousel, .dashboard ul.guests li.guest > a, .dashboard ul.guests, .dashboard .greeting, nav.nav, header.header {
  display: flex;
}
.flex.center.horizontal, .rsvp div.form > form .flex.horizontal.radio, .rsvp div.form > form .center.horizontal.radio, .rsvp div.form > form .horizontal.radio, .rsvp div.form > form.horizontal, .login div.form > form.horizontal, .home .greeting .flex.horizontal#days, .home .greeting .rsvp div.form > form .horizontal#days.radio, .rsvp div.form > form .home .greeting .horizontal#days.radio, .home .greeting .rsvp div.form > form.horizontal#days, .rsvp .home .greeting div.form > form.horizontal#days, .home .greeting .login div.form > form.horizontal#days, .login .home .greeting div.form > form.horizontal#days, .home .horizontal.greeting, .home .horizontal.carousel, .dashboard ul.guests li.guest > a.center.horizontal, .dashboard ul.guests .rsvp div.form > form li.guest > a.horizontal.radio, .rsvp div.form > form .dashboard ul.guests li.guest > a.horizontal.radio, .dashboard ul.guests .home .greeting li.guest > a.horizontal#days, .home .greeting .dashboard ul.guests li.guest > a.horizontal#days, .dashboard ul.guests .home li.guest > a.horizontal.greeting, .home .dashboard ul.guests li.guest > a.horizontal.greeting, .dashboard ul.guests .home li.guest > a.horizontal.carousel, .home .dashboard ul.guests li.guest > a.horizontal.carousel, .dashboard ul.horizontal.guests, nav.flex.horizontal.nav, .rsvp div.form > form nav.horizontal.nav.radio, header.flex.horizontal.header, .rsvp div.form > form header.horizontal.header.radio, footer.flex.horizontal.footer, .rsvp div.form > form footer.horizontal.footer.radio, .flex.center.flex-row, .rsvp div.form > form .flex.flex-row.radio, .rsvp div.form > form .center.flex-row.radio, .rsvp div.form > form .flex-row.radio, .rsvp div.form > form.flex-row, .login div.form > form.flex-row, .home .greeting .flex.flex-row#days, .home .greeting .rsvp div.form > form .flex-row#days.radio, .rsvp div.form > form .home .greeting .flex-row#days.radio, .home .greeting .rsvp div.form > form.flex-row#days, .rsvp .home .greeting div.form > form.flex-row#days, .home .greeting .login div.form > form.flex-row#days, .login .home .greeting div.form > form.flex-row#days, .home .flex-row.greeting, .home .flex-row.carousel, .dashboard ul.guests li.guest > a.center.flex-row, .dashboard ul.guests .rsvp div.form > form li.guest > a.flex-row.radio, .rsvp div.form > form .dashboard ul.guests li.guest > a.flex-row.radio, .dashboard ul.guests .home .greeting li.guest > a.flex-row#days, .home .greeting .dashboard ul.guests li.guest > a.flex-row#days, .dashboard ul.guests .home li.guest > a.flex-row.greeting, .home .dashboard ul.guests li.guest > a.flex-row.greeting, .dashboard ul.guests .home li.guest > a.flex-row.carousel, .home .dashboard ul.guests li.guest > a.flex-row.carousel, .dashboard ul.flex-row.guests, nav.flex.flex-row.nav, .rsvp div.form > form nav.flex-row.nav.radio, header.flex.flex-row.header, .rsvp div.form > form header.flex-row.header.radio, footer.flex.flex-row.footer, .rsvp div.form > form footer.flex-row.footer.radio, .flex.center.row, .rsvp div.form > form .flex.row.radio, .rsvp div.form > form .flex.center.radio, .rsvp div.form > form .flex.radio, .rsvp div.form > form .center.row.radio, .rsvp div.form > form .row.radio, .rsvp div.form > form .center.radio, .rsvp div.form > form .radio, .rsvp div.form > form.row, .rsvp div.form > form div.form > form.radio, .rsvp div.form, .registry .tabbed .judaica ul.items, .registry .tabbed ul.tabs, .login div.form > form.row, .login .rsvp div.form > form div.form > form.radio, .rsvp div.form > form .login div.form > form.radio, .login div.form, .home .greeting .flex.row#days, .home .greeting .rsvp div.form > form .flex#days.radio, .rsvp div.form > form .home .greeting .flex#days.radio, .home .greeting .rsvp div.form > form .row#days.radio, .home .greeting .rsvp div.form > form #days.radio, .rsvp div.form > form .home .greeting .row#days.radio, .rsvp div.form > form .home .greeting #days.radio, .home .greeting .rsvp div.form > form.row#days, .home .greeting .rsvp div.form > form div.form > form#days.radio, .rsvp .home .greeting div.form > form.row#days, .rsvp .home .greeting div.form > form div.form > form#days.radio, .rsvp div.form > form .home .greeting div.form > form#days.radio, .home .greeting .rsvp div#days.form, .rsvp .home .greeting div#days.form, .home .greeting .registry .tabbed .judaica ul#days.items, .registry .tabbed .judaica .home .greeting ul#days.items, .home .greeting .registry .tabbed ul#days.tabs, .registry .tabbed .home .greeting ul#days.tabs, .home .greeting .login div.form > form.row#days, .home .greeting .login .rsvp div.form > form div.form > form#days.radio, .rsvp div.form > form .home .greeting .login div.form > form#days.radio, .login .home .greeting div.form > form.row#days, .login .home .greeting .rsvp div.form > form div.form > form#days.radio, .rsvp div.form > form .login .home .greeting div.form > form#days.radio, .home .greeting .login div#days.form, .login .home .greeting div#days.form, .home .row.greeting, .home .rsvp div.form > form .greeting.radio, .rsvp div.form > form .home .greeting.radio, .home .row.carousel, .home .rsvp div.form > form .carousel.radio, .rsvp div.form > form .home .carousel.radio, .dashboard ul.guests li.guest > a.center.row, .dashboard ul.guests .rsvp div.form > form li.guest > a.row.radio, .rsvp div.form > form .dashboard ul.guests li.guest > a.row.radio, .dashboard ul.guests .rsvp div.form > form li.guest > a.center.radio, .dashboard ul.guests .rsvp div.form > form li.guest > a.radio, .rsvp div.form > form .dashboard ul.guests li.guest > a.center.radio, .rsvp div.form > form .dashboard ul.guests li.guest > a.radio, .dashboard ul.guests .home .greeting li.guest > a.row#days, .dashboard ul.guests .home .greeting .rsvp div.form > form li.guest > a#days.radio, .rsvp div.form > form .dashboard ul.guests .home .greeting li.guest > a#days.radio, .home .greeting .dashboard ul.guests li.guest > a.row#days, .home .greeting .dashboard ul.guests .rsvp div.form > form li.guest > a#days.radio, .rsvp div.form > form .home .greeting .dashboard ul.guests li.guest > a#days.radio, .dashboard ul.guests .home li.guest > a.row.greeting, .dashboard ul.guests .home .rsvp div.form > form li.guest > a.greeting.radio, .rsvp div.form > form .dashboard ul.guests .home li.guest > a.greeting.radio, .home .dashboard ul.guests li.guest > a.row.greeting, .home .dashboard ul.guests .rsvp div.form > form li.guest > a.greeting.radio, .rsvp div.form > form .home .dashboard ul.guests li.guest > a.greeting.radio, .dashboard ul.guests .home li.guest > a.row.carousel, .dashboard ul.guests .home .rsvp div.form > form li.guest > a.carousel.radio, .rsvp div.form > form .dashboard ul.guests .home li.guest > a.carousel.radio, .home .dashboard ul.guests li.guest > a.row.carousel, .home .dashboard ul.guests .rsvp div.form > form li.guest > a.carousel.radio, .rsvp div.form > form .home .dashboard ul.guests li.guest > a.carousel.radio, .dashboard ul.row.guests, .dashboard .rsvp div.form > form ul.guests.radio, .rsvp div.form > form .dashboard ul.guests.radio, .dashboard .center.greeting, .dashboard .rsvp div.form > form .greeting.radio, .rsvp div.form > form .dashboard .greeting.radio, .dashboard .rsvp div.form > form.greeting, .rsvp .dashboard div.form > form.greeting, .dashboard .login div.form > form.greeting, .login .dashboard div.form > form.greeting, .dashboard .home .greeting .greeting#days, .home .greeting .dashboard .greeting#days, .dashboard .home .greeting, .home .dashboard .greeting, .dashboard ul.greeting.guests, nav.flex.row.nav, .rsvp div.form > form nav.flex.nav.radio, .rsvp div.form > form nav.row.nav.radio, .rsvp div.form > form nav.nav.radio, .dashboard nav.nav.greeting, nav.nav, header.flex.row.header, .rsvp div.form > form header.flex.header.radio, .rsvp div.form > form header.row.header.radio, .rsvp div.form > form header.header.radio, .dashboard header.header.greeting, header.header, footer.flex.row.footer, .rsvp div.form > form footer.flex.footer.radio, .rsvp div.form > form footer.row.footer.radio, .rsvp div.form > form footer.footer.radio, .dashboard footer.footer.greeting {
  justify-content: center;
}
.flex.center.vertical, .rsvp div.form > form .flex.vertical.radio, .rsvp div.form > form .center.vertical.radio, .rsvp div.form > form .vertical.radio, .rsvp div.form > form.flex.vertical, .rsvp div.form > form div.form > form.vertical.radio, .rsvp div.form > form.center.vertical, .rsvp div.form > form div.form > form.vertical.radio, .rsvp div.form > form.vertical, .rsvp div.vertical.form, .registry .tabbed .judaica ul.vertical.items, .registry .tabbed ul.vertical.tabs, .login div.vertical.form, .home .greeting .flex.vertical#days, .home .greeting .rsvp div.form > form .vertical#days.radio, .rsvp div.form > form .home .greeting .vertical#days.radio, .home .greeting .rsvp div.form > form.vertical#days, .rsvp .home .greeting div.form > form.vertical#days, .home .greeting .rsvp div.vertical#days.form, .rsvp .home .greeting div.vertical#days.form, .home .greeting .registry .tabbed .judaica ul.vertical#days.items, .registry .tabbed .judaica .home .greeting ul.vertical#days.items, .home .greeting .registry .tabbed ul.vertical#days.tabs, .registry .tabbed .home .greeting ul.vertical#days.tabs, .home .greeting .login div.vertical#days.form, .login .home .greeting div.vertical#days.form, .home .vertical.carousel, .dashboard ul.vertical.guests, .dashboard .center.vertical.greeting, .dashboard .rsvp div.form > form .vertical.greeting.radio, .rsvp div.form > form .dashboard .vertical.greeting.radio, .dashboard .rsvp div.form > form.vertical.greeting, .rsvp .dashboard div.form > form.vertical.greeting, .dashboard .home .greeting .vertical.greeting#days, .home .greeting .dashboard .vertical.greeting#days, nav.vertical.nav, header.vertical.header, footer.flex.vertical.footer, .rsvp div.form > form footer.vertical.footer.radio, .dashboard footer.vertical.footer.greeting, .flex.center.flex-column, .rsvp div.form > form .flex.flex-column.radio, .rsvp div.form > form .center.flex-column.radio, .rsvp div.form > form .flex-column.radio, .rsvp div.form > form.flex.flex-column, .rsvp div.form > form div.form > form.flex-column.radio, .rsvp div.form > form.center.flex-column, .rsvp div.form > form div.form > form.flex-column.radio, .rsvp div.form > form.flex-column, .rsvp div.flex-column.form, .registry .tabbed .judaica ul.flex-column.items, .registry .tabbed ul.flex-column.tabs, .login div.flex-column.form, .home .greeting .flex.flex-column#days, .home .greeting .rsvp div.form > form .flex-column#days.radio, .rsvp div.form > form .home .greeting .flex-column#days.radio, .home .greeting .rsvp div.form > form.flex-column#days, .rsvp .home .greeting div.form > form.flex-column#days, .home .greeting .rsvp div.flex-column#days.form, .rsvp .home .greeting div.flex-column#days.form, .home .greeting .registry .tabbed .judaica ul.flex-column#days.items, .registry .tabbed .judaica .home .greeting ul.flex-column#days.items, .home .greeting .registry .tabbed ul.flex-column#days.tabs, .registry .tabbed .home .greeting ul.flex-column#days.tabs, .home .greeting .login div.flex-column#days.form, .login .home .greeting div.flex-column#days.form, .home .flex-column.carousel, .dashboard ul.flex-column.guests, .dashboard .center.flex-column.greeting, .dashboard .rsvp div.form > form .flex-column.greeting.radio, .rsvp div.form > form .dashboard .flex-column.greeting.radio, .dashboard .rsvp div.form > form.flex-column.greeting, .rsvp .dashboard div.form > form.flex-column.greeting, .dashboard .home .greeting .flex-column.greeting#days, .home .greeting .dashboard .flex-column.greeting#days, nav.flex-column.nav, header.flex-column.header, footer.flex.flex-column.footer, .rsvp div.form > form footer.flex-column.footer.radio, .dashboard footer.flex-column.footer.greeting, .flex.center.column, .rsvp div.form > form .flex.column.radio, .rsvp div.form > form .center.column.radio, .rsvp div.form > form .column.radio, .rsvp div.form > form.flex.column, .rsvp div.form > form div.form > form.column.radio, .rsvp div.form > form.flex.center, .rsvp div.form > form div.form > form.flex.radio, .rsvp div.form > form div.form > form.center.radio, .rsvp div.form > form div.form > form.radio, .rsvp div.form > form.flex, .rsvp div.form > form div.form > form.radio, .rsvp div.form > form.center.column, .rsvp div.form > form div.form > form.column.radio, .rsvp div.form > form.column, .rsvp div.form > form.center, .rsvp div.form > form div.form > form.radio, .rsvp div.form > form, .rsvp div.column.form, .registry .tabbed .judaica ul.column.items, .registry .tabbed ul.column.tabs, .login div.form > form, .login div.column.form, .home .greeting .flex.column#days, .home .greeting .rsvp div.form > form .column#days.radio, .rsvp div.form > form .home .greeting .column#days.radio, .home .greeting .rsvp div.form > form.flex#days, .home .greeting .rsvp div.form > form div.form > form#days.radio, .rsvp .home .greeting div.form > form.flex#days, .rsvp .home .greeting div.form > form div.form > form#days.radio, .rsvp div.form > form .home .greeting div.form > form#days.radio, .home .greeting .rsvp div.form > form.column#days, .home .greeting .rsvp div.form > form#days, .rsvp .home .greeting div.form > form.column#days, .rsvp .home .greeting div.form > form#days, .home .greeting .rsvp div.column#days.form, .rsvp .home .greeting div.column#days.form, .home .greeting .registry .tabbed .judaica ul.column#days.items, .registry .tabbed .judaica .home .greeting ul.column#days.items, .home .greeting .registry .tabbed ul.column#days.tabs, .registry .tabbed .home .greeting ul.column#days.tabs, .home .greeting .login div.form > form#days, .login .home .greeting div.form > form#days, .home .greeting .login div.column#days.form, .login .home .greeting div.column#days.form, .home .greeting, .home .column.carousel, .home .rsvp div.form > form.carousel, .rsvp .home div.form > form.carousel, .dashboard ul.guests li.guest > a.center, .dashboard ul.guests .rsvp div.form > form li.guest > a.radio, .rsvp div.form > form .dashboard ul.guests li.guest > a.radio, .dashboard ul.guests .home .greeting li.guest > a#days, .home .greeting .dashboard ul.guests li.guest > a#days, .dashboard ul.guests .home li.guest > a.greeting, .home .dashboard ul.guests li.guest > a.greeting, .dashboard ul.guests .home li.guest > a.carousel, .home .dashboard ul.guests li.guest > a.carousel, .dashboard ul.column.guests, .dashboard .home ul.guests.greeting, .home .dashboard ul.guests.greeting, .dashboard .center.column.greeting, .dashboard .rsvp div.form > form .column.greeting.radio, .rsvp div.form > form .dashboard .column.greeting.radio, .dashboard .rsvp div.form > form.column.greeting, .rsvp .dashboard div.form > form.column.greeting, .dashboard .rsvp div.form > form.center.greeting, .dashboard .rsvp div.form > form div.form > form.greeting.radio, .dashboard .rsvp div.form > form.greeting, .rsvp .dashboard div.form > form.center.greeting, .rsvp .dashboard div.form > form div.form > form.greeting.radio, .rsvp div.form > form .dashboard div.form > form.greeting.radio, .rsvp .dashboard div.form > form.greeting, .dashboard .home .greeting .column.greeting#days, .dashboard .home .greeting .rsvp div.form > form.greeting#days, .rsvp .dashboard .home .greeting div.form > form.greeting#days, .home .greeting .dashboard .column.greeting#days, .home .greeting .dashboard .rsvp div.form > form.greeting#days, .rsvp .home .greeting .dashboard div.form > form.greeting#days, nav.column.nav, header.column.header, footer.flex.column.footer, .rsvp div.form > form footer.column.footer.radio, .dashboard footer.column.footer.greeting {
  align-items: center;
}
.flex.repel, .rsvp div.form > form .repel.radio, .rsvp div.form > form.repel, .rsvp div.repel.form, .registry .tabbed .judaica ul.repel.items, .registry .tabbed ul.repel.tabs, .login div.form > form.repel, .login div.repel.form, .home .greeting, .home .repel.carousel, .dashboard ul.guests li.guest > a.repel, .dashboard ul.guests .home li.guest > a.greeting, .home .dashboard ul.guests li.guest > a.greeting, .dashboard ul.repel.guests, .dashboard .home ul.guests.greeting, .home .dashboard ul.guests.greeting, .dashboard .greeting, nav.repel.nav, header.repel.header {
  justify-content: space-between;
}
.flex-column, .flex.column, .rsvp div.form > form .column.radio, .rsvp div.form > form, .rsvp div.column.form, .registry .tabbed .judaica ul.column.items, .registry .tabbed ul.column.tabs, .login div.form > form, .login div.column.form, .home .greeting, .home .column.carousel, .dashboard ul.guests li.guest > a, .dashboard ul.column.guests, .dashboard .home ul.guests.greeting, .home .dashboard ul.guests.greeting, .dashboard .column.greeting, nav.column.nav, header.column.header {
  flex-direction: column;
}
.flex-row, .flex.row, .rsvp div.form > form .radio, .rsvp div.form > form.row, .rsvp div.form, .registry .tabbed .judaica ul.items, .registry .tabbed ul.tabs, .login div.form > form.row, .login div.form, .home .row.greeting, .home .row.carousel, .dashboard ul.guests li.guest > a.row, .dashboard ul.guests .rsvp div.form > form li.guest > a.radio, .rsvp div.form > form .dashboard ul.guests li.guest > a.radio, .dashboard ul.row.guests, .dashboard .greeting, nav.flex.nav, .home nav.nav.greeting, .home nav.nav.carousel, nav.row.nav, nav.nav, header.flex.header, .home header.header.greeting, .home header.header.carousel, header.row.header, header.header {
  flex-direction: row;
}
.flex.gap, .rsvp div.form > form .radio, .rsvp div.form > form, .rsvp div.gap.form, .registry .tabbed .judaica ul.items, .registry .tabbed ul.tabs, .login div.form > form, .login div.gap.form, .home .greeting, .home .gap.carousel, .dashboard ul.guests li.guest > a.gap, .dashboard ul.guests .rsvp div.form > form li.guest > a.radio, .rsvp div.form > form .dashboard ul.guests li.guest > a.radio, .dashboard ul.guests .home li.guest > a.greeting, .home .dashboard ul.guests li.guest > a.greeting, .dashboard ul.guests, .dashboard .gap.greeting, nav.flex.nav, .home nav.nav.carousel, .dashboard nav.nav.greeting, nav.nav, header.gap.header {
  gap: var(--spacer);
}

.ft.main,
.font.main,
.home .schedule table caption.main,
.home .greeting .main#days,
h1.main,
h2.main,
h3.main,
h4.main,
h5.main,
h6.main,
body {
  font-family: var(--font-main-family);
}
.ft-cursive, .ft.cursive,
.font-cursive,
.font.cursive,
.home .schedule table caption.cursive,
.home .greeting #days,
body.cursive,
h1.cursive,
h2.cursive,
h3.cursive,
h4.cursive,
h5.cursive,
h6.cursive {
  font-family: var(--font-family-cursive), cursive;
}
.ft-mono, .ft.mono,
.font-mono,
.font.mono,
.home .schedule table caption.mono,
.home .greeting .mono#days,
body.mono,
h1.mono,
h2.mono,
h3.mono,
h4.mono,
h5.mono,
h6.mono {
  font-family: var(--font-family-mono), monospace;
}
.ft-sans, .ft.sans,
.font-sans,
.font.sans,
.home .schedule table caption.sans,
.home .greeting .sans#days,
body.sans,
h1.sans,
h2.sans,
h3.sans,
h4.sans,
h5.sans,
h6.sans {
  font-family: var(--font-family-sans), sans-serif;
}
.ft-serif, .ft.serif,
.font-serif,
.font.serif,
.home .schedule table caption.serif,
.home .greeting .serif#days,
body.serif,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-serif), serif;
}
.ft-bold, .ft.bold,
.font-bold,
.font.bold,
.home .schedule table caption.bold,
.home .greeting .bold#days,
body.bold,
h1.bold,
h2.bold,
h3.bold,
h4.bold,
h5.bold,
h6.bold {
  font-weight: var(--font-weight-bold);
}
.ft-semi, .ft.semi,
.font-semi,
.font.semi,
.home .schedule table caption,
.home .greeting .semi#days,
.home .greeting .schedule table caption#days,
.home .schedule table .greeting caption#days,
body.semi,
h1.semi,
h2.semi,
h3.semi,
h4.semi,
h5.semi,
h6.semi {
  font-weight: var(--font-weight-semi);
}
.ft-normal, .ft.normal,
.font-normal,
.font.normal,
.home .schedule table caption.normal,
.home .greeting .normal#days,
body.normal,
h1.normal,
h2.normal,
h3.normal,
h4.normal,
h5.normal,
h6.normal {
  font-weight: var(--font-weight-normal);
}
.ft-light, .ft.bold,
.font-light,
.font.bold,
.home .schedule table caption.bold,
.home .greeting .bold#days,
body.bold,
h1.bold,
h2.bold,
h3.bold,
h4.bold,
h5.bold,
h6.bold {
  font-weight: var(--font-weight-light);
}

.fx-animate, .fx.animate, .rsvp div.form > form .radio > label.animate:has(input[type=radio]), .registry .tabbed .judaica ul.items li.animate.item, .registry .tabbed ul.tabs li.tab label.animate:has(input[type=radio]), .login div.form > form.animate, textarea.animate, input.animate, .fx.fx-float, .rsvp div.form > form .radio > label.fx-float:has(input[type=radio]), .registry .tabbed .judaica ul.items li.fx-float.item, .registry .tabbed ul.tabs li.tab label.fx-float:has(input[type=radio]), .login div.form > form.fx-float, textarea.fx-float, input.fx-float, .fx.float, .rsvp div.form > form .radio > label.float:has(input[type=radio]), .registry .tabbed .judaica ul.items li.float.item, .registry .tabbed ul.tabs li.tab label.float:has(input[type=radio]), .login div.form > form.float, .dashboard ul.guests li.guest > a, .dashboard .greeting .item, nav.nav a.item, textarea.float, input.float,
.fx.effects-float,
.rsvp div.form > form .radio > label.effects-float:has(input[type=radio]),
.registry .tabbed .judaica ul.items li.effects-float.item,
.registry .tabbed ul.tabs li.tab label.effects-float:has(input[type=radio]),
.login div.form > form.effects-float,
textarea.effects-float,
input.effects-float,
.effects-animate,
.effects.animate,
.effects.fx-float,
.effects.effects-float,
.effects.float {
  transition: all 0.3s ease;
}
.fx-float:hover, .fx.float:hover, .rsvp div.form > form .radio > label.float:hover:has(input[type=radio]), .registry .tabbed .judaica ul.items li.float.item:hover, .registry .tabbed ul.tabs li.tab label.float:hover:has(input[type=radio]), .login div.form > form.float:hover, .dashboard ul.guests li.guest > a:hover, .dashboard .greeting .item:hover, nav.nav a.item:hover, textarea.float:hover, input.float:hover,
.effects-float:hover,
.effects.float:hover {
  transform: translate(0, -2px);
}
.fx-outline, .fx.outline, .rsvp div.form > form .radio > label.outline:has(input[type=radio]), .registry .tabbed ul.tabs li.tab label.outline:has(input[type=radio]), .dashboard .greeting .outline.item, nav.nav a.outline.item, textarea.outline, input.outline, .fx.fx-tile, .rsvp div.form > form .radio > label.fx-tile:has(input[type=radio]), .registry .tabbed ul.tabs li.tab label.fx-tile:has(input[type=radio]), .dashboard .greeting .fx-tile.item, nav.nav a.fx-tile.item, textarea.fx-tile, input.fx-tile, .fx.tile, .rsvp div.form > form .radio > label.tile:has(input[type=radio]), .registry .tabbed .judaica ul.items li.item, .registry .tabbed ul.tabs li.tab label.tile:has(input[type=radio]), .login div.form > form, .dashboard ul.guests li.guest > a, .dashboard .greeting .tile.item, .dashboard .greeting .login div.form > form.item, .login .dashboard .greeting div.form > form.item, nav.nav a.tile.item, textarea.tile, input.tile,
.fx.effects-tile,
.rsvp div.form > form .radio > label.effects-tile:has(input[type=radio]),
.registry .tabbed ul.tabs li.tab label.effects-tile:has(input[type=radio]),
.dashboard .greeting .effects-tile.item,
nav.nav a.effects-tile.item,
textarea.effects-tile,
input.effects-tile,
.effects-outline,
.effects.outline,
.effects.fx-tile,
.effects.effects-tile,
.effects.tile {
  border: 0.5px solid var(--color-border);
}
.fx-round, .fx.round, .rsvp div.form > form .radio > label:has(input[type=radio]), .registry .tabbed ul.tabs li.tab label:has(input[type=radio]), .dashboard .greeting .round.item, nav.nav a.round.item, textarea.fx, .dashboard .greeting textarea.item, textarea, input.fx, .dashboard .greeting input.item, input, .fx.fx-tile, .dashboard .greeting .fx-tile.item, nav.nav a.fx-tile.item, textarea.fx-tile, input.fx-tile, .fx.tile, .registry .tabbed .judaica ul.items li.item, .login div.form > form, .dashboard ul.guests li.guest > a, .dashboard .greeting .tile.item, .dashboard .greeting .login div.form > form.item, .login .dashboard .greeting div.form > form.item, nav.nav a.tile.item, textarea.tile, input.tile,
.fx.effects-tile,
.dashboard .greeting .effects-tile.item,
nav.nav a.effects-tile.item,
textarea.effects-tile,
input.effects-tile,
.effects-round,
.effects.round,
textarea.effects,
input.effects,
.effects.fx-tile,
.effects.effects-tile,
.effects.tile {
  border-radius: var(--border-radius);
}
.fx-shadow, .fx.shadow, .rsvp div.form > form .radio > label:has(input[type=radio]), .registry .tabbed ul.tabs li.tab label:has(input[type=radio]), .dashboard .greeting .shadow.item, nav.nav a.shadow.item, textarea.shadow, input.shadow, .fx.fx-tile, .dashboard .greeting .fx-tile.item, nav.nav a.fx-tile.item, textarea.fx-tile, input.fx-tile, .fx.tile, .registry .tabbed .judaica ul.items li.item, .login div.form > form, .dashboard ul.guests li.guest > a, .dashboard .greeting .tile.item, .dashboard .greeting .login div.form > form.item, .login .dashboard .greeting div.form > form.item, nav.nav a.tile.item, textarea.tile, input.tile,
.fx.effects-tile,
.dashboard .greeting .effects-tile.item,
nav.nav a.effects-tile.item,
textarea.effects-tile,
input.effects-tile,
.effects-shadow,
.effects.shadow,
.effects.fx-tile,
.effects.effects-tile,
.effects.tile {
  box-shadow: 0 2px 3px var(--color-shadow);
}
.fx-shadow.float:hover, .dashboard .greeting .fx-shadow.item:hover, nav.nav a.fx-shadow.item:hover, .fx.shadow.float:hover, .rsvp div.form > form .radio > label.float:hover:has(input[type=radio]), .registry .tabbed ul.tabs li.tab label.float:hover:has(input[type=radio]), .dashboard .greeting .shadow.item:hover, .dashboard .greeting .rsvp div.form > form .radio > label.item:hover:has(input[type=radio]), .rsvp div.form > form .dashboard .greeting .radio > label.item:hover:has(input[type=radio]), .dashboard .greeting .registry .tabbed ul.tabs li.tab label.item:hover:has(input[type=radio]), .registry .tabbed ul.tabs li.tab .dashboard .greeting label.item:hover:has(input[type=radio]), nav.nav a.shadow.item:hover, textarea.shadow.float:hover, input.shadow.float:hover, .fx.float.fx-tile:hover, .dashboard .greeting .fx-tile.item:hover, nav.nav a.fx-tile.item:hover, textarea.float.fx-tile:hover, input.float.fx-tile:hover, .fx.float.tile:hover, .registry .tabbed .judaica ul.items li.float.item:hover, .login div.form > form.float:hover, .dashboard ul.guests li.guest > a:hover, .dashboard .greeting .tile.item:hover, .dashboard .greeting .registry .tabbed .judaica ul.items li.item:hover, .registry .tabbed .judaica ul.items .dashboard .greeting li.item:hover, .dashboard .greeting .login div.form > form.item:hover, .login .dashboard .greeting div.form > form.item:hover, nav.nav a.tile.item:hover, textarea.float.tile:hover, input.float.tile:hover,
.fx.float.effects-tile:hover,
.dashboard .greeting .effects-tile.item:hover,
nav.nav a.effects-tile.item:hover,
textarea.float.effects-tile:hover,
input.float.effects-tile:hover,
.effects-shadow.float:hover,
.dashboard .greeting .effects-shadow.item:hover,
nav.nav a.effects-shadow.item:hover,
.effects.shadow.float:hover,
.effects.float.fx-tile:hover,
.effects.float.effects-tile:hover,
.effects.float.tile:hover {
  box-shadow: 0 4px 9px -5px var(--color-shadow);
}
.fx-unlink, .fx.unlink, .rsvp div.form > form .radio > label.unlink:has(input[type=radio]), .registry .tabbed .judaica ul.items li.unlink.item, .registry .tabbed ul.tabs li.tab label.unlink:has(input[type=radio]), .login div.form > form.unlink, .dashboard ul.guests li.guest > a, .dashboard .greeting .item, nav.nav a.item, textarea.unlink, input.unlink,
.effects-unlink,
.effects.unlink {
  color: inherit;
  text-decoration: none;
}
.fx-unlink:visited, .fx-unlink:visited:hover, .fx-unlink:hover, .fx-unlink:focus, .fx.unlink:visited, .rsvp div.form > form .radio > label.unlink:visited:has(input[type=radio]), .registry .tabbed .judaica ul.items li.unlink.item:visited, .registry .tabbed ul.tabs li.tab label.unlink:visited:has(input[type=radio]), .login div.form > form.unlink:visited, .dashboard ul.guests li.guest > a:visited, .dashboard .greeting .item:visited, nav.nav a.item:visited, textarea.unlink:visited, input.unlink:visited, .fx.unlink:visited:hover, .fx.unlink:hover, .rsvp div.form > form .radio > label.unlink:hover:has(input[type=radio]), .registry .tabbed .judaica ul.items li.unlink.item:hover, .registry .tabbed ul.tabs li.tab label.unlink:hover:has(input[type=radio]), .login div.form > form.unlink:hover, .dashboard ul.guests li.guest > a:hover, .dashboard .greeting .item:hover, nav.nav a.item:hover, textarea.unlink:hover, input.unlink:hover, .fx.unlink:focus, .rsvp div.form > form .radio > label.unlink:focus:has(input[type=radio]), .registry .tabbed .judaica ul.items li.unlink.item:focus, .registry .tabbed ul.tabs li.tab label.unlink:focus:has(input[type=radio]), .login div.form > form.unlink:focus, .dashboard ul.guests li.guest > a:focus, .dashboard .greeting .item:focus, nav.nav a.item:focus, textarea.unlink:focus, input.unlink:focus,
.effects-unlink:visited,
.effects-unlink:visited:hover,
.effects-unlink:hover,
.effects-unlink:focus,
.effects.unlink:visited,
.effects.unlink:visited:hover,
.effects.unlink:hover,
.effects.unlink:focus {
  color: inherit;
  text-decoration: none;
}

.msg.error, .msg.warn, .msg.info, .msg.debug, .msg.trace,
.message.error,
.message.warn,
.message.info,
.message.debug,
.message.trace {
  border-style: double;
  border-width: thick;
  border-radius: var(--border-radius);
  padding: var(--spacer);
  color: var(--color-fg);
}
.msg.error,
.message.error {
  border-color: var(--color-user-error-fg);
  background-color: var(--color-user-error-bg);
}
.msg.warn,
.message.warn {
  border-color: var(--color-user-warn-fg);
  background-color: var(--color-user-warn-bg);
}
.msg.info,
.message.info {
  border-color: var(--color-user-into-fg);
  background-color: var(--color-user-info-bg);
}
.msg.debug,
.message.debug {
  border-color: var(--color-user-debug-fg);
  background-color: var(--color-user-debug-bg);
}
.msg.trace,
.message.trace {
  border-color: var(--color-user-trace-fg);
  background-color: var(--color-user-trace-bg);
}

.pos-left, .pos.left, .home .schedule table caption.pos,
.position-left,
.position.left,
.home .schedule table caption.position {
  float: left;
}
.pos-center, .pos.center, .rsvp div.form > form .pos.radio, .rsvp div.form > form.pos, .rsvp div.pos.form, .registry .tabbed .judaica ul.pos.items, .registry .tabbed ul.pos.tabs, .login div.form > form.pos, .login div.pos.form, .home .greeting .pos#days, .home .pos.greeting, .home .pos.carousel, .dashboard ul.pos.guests, nav.pos.nav, header.pos.header, footer.pos.footer,
.position-center,
.position.center,
.rsvp div.form > form .position.radio,
.rsvp div.form > form.position,
.rsvp div.position.form,
.registry .tabbed .judaica ul.position.items,
.registry .tabbed ul.position.tabs,
.login div.form > form.position,
.login div.position.form,
.home .greeting .position#days,
.home .position.greeting,
.home .position.carousel,
.dashboard ul.position.guests,
nav.position.nav,
header.position.header,
footer.position.footer {
  float: center;
}
.pos-right, .pos.right,
.position-right,
.position.right {
  float: right;
}

.tx-left, .tx.left,
.text-left,
.text.left,
.home .schedule table caption,
.home .greeting .left#days,
.home .greeting .schedule table caption#days,
.home .schedule table .greeting caption#days,
header.left.header,
footer.left.footer {
  text-align: left;
}
.tx-center, .rsvp div.form > form .section p, .rsvp div.form > form .radio > label:has(input[type=radio]), .registry .tabbed .judaica ul.items li.item p, .registry .tabbed ul.tabs li.tab label:has(input[type=radio]), .tx.center, .rsvp div.form > form .tx.radio, .rsvp div.form > form.tx, .rsvp div.tx.form, .registry .tabbed .judaica ul.tx.items, .registry .tabbed ul.tx.tabs, .login div.form > form.tx, .login div.tx.form, .home .tx.greeting, .home .tx.carousel, .dashboard ul.tx.guests, nav.tx.nav,
.text-center,
.text.center,
.rsvp div.form > form .text.radio,
.rsvp div.form > form.text,
.rsvp div.text.form,
.registry .tabbed .judaica ul.text.items,
.registry .tabbed ul.text.tabs,
.login div.form > form.text,
.login div.text.form,
.home .schedule table caption.center,
.home .schedule table .rsvp div.form > form caption.radio,
.rsvp div.form > form .home .schedule table caption.radio,
.home .greeting #days,
.home .text.greeting,
.home .schedule table caption.greeting,
.home .text.carousel,
.home .schedule table caption.carousel,
.dashboard ul.text.guests,
nav.text.nav,
header.header,
footer.footer {
  text-align: center;
}
.tx-right, .tx.right,
.text-right,
.text.right,
.home .schedule table caption.right,
.home .greeting .right#days,
header.right.header,
footer.right.footer {
  text-align: right;
}
.tx-justify, .tx.justify,
.text-justify,
.text.justify,
.home .schedule table caption.justify,
.home .greeting .justify#days,
header.justify.header,
footer.justify.footer {
  text-align: justify;
}

/*
 * If you have page-specific styles, it is better to put them in a `pages/`
 * folder, in a file named after the page. For instance, it’s not uncommon to
 * have very specific styles for the home page hence the need for a `_home.scss`
 * file in `pages/`.
 */
/*
 * On large sites and applications, it is not unusual to have different themes.
 * There are certainly different ways of dealing with themes but I personally
 * like having them all in a `themes/` folder.
 */
/*
 * The `abstracts/` folder gathers all Sass tools and helpers used across the
 * project. Every global variable, function, mixin and placeholder should be put
 * in here.
 *
 * The rule of thumb for this folder is that it should not output a single line
 * of CSS when compiled on its own. These are nothing but Sass helpers.
 */
:root {
  --color-accent-fg: #061d56;
  --color-accent-bg: #e6eff5;
  --color-border: #d1a26c;
  --color-link: var(--oc-blue-9);
  --color-link-hover: var(--oc-blue-7);
  --color-shadow: var(--oc-gray-5);
  --color-fg: #060f42;
  --color-fg-2: var(--oc-gray-7);
  --color-fg-3: var(--oc-gray-6);
  --color-bg: var(--oc-gray-0);
  --color-bg-2: var(--oc-gray-2);
  --color-bg-3: var(--oc-gray-4);
  --color-user-error-bg: var(--oc-red-3);
  --color-user-info-bg: var(--oc-green-3);
  --color-user-warn-bg: var(--oc-yellow-3);
  --color-user-debug-bg: var(--oc-blue-3);
  --color-user-trace-bg: var(--oc-cyan-3);
  --color-user-error-fg: var(--oc-red-7);
  --color-user-info-fg: var(--oc-green-7);
  --color-user-warn-fg: var(--oc-yellow-7);
  --color-user-debug-fg: var(--oc-blue-7);
  --color-user-trace-fg: var(--oc-cyan-7);
  --font-main-family: var(--font-family-serif);
  --font-family-cursive: "Corinthia";
  --font-family-mono: "Fira Code";
  --font-family-sans: "Cabin";
  --font-family-serif: "Joan";
  --font-weight-bold: 600;
  --font-weight-semi: 500;
  --font-weight-normal: 400;
  --font-weight-light: 300;
  --font-size: 16px;
  --line-height: 1.5;
  --border-radius: .5em;
  --spacer: 1rem;
  --spacer-2: calc(var(--spacer) * 2);
  --spacer-3: calc(var(--spacer) * 3);
  --spacer-small-2: calc(var(--spacer) / 2);
  --spacer-small-3: calc(var(--spacer) / 3);
}

/*
 * Most projects will have a `vendors/` folder containing all the CSS files from
 * external libraries and frameworks – Normalize, Bootstrap, jQueryUI,
 * FancyCarouselSliderjQueryPowered, and so on. Putting those aside in the same
 * folder is a good way to say “Hey, this is not from me, not my code, not my
 * responsibility”.
 */
/*
 * The `base/` folder holds what we might call the boilerplate code for the
 * project. In there, you might find the reset file, some typographic rules, and
 * probably a stylesheet defining some standard styles for commonly used HTML
 * elements (that I like to call `_base.scss`).
 */
input {
  padding: var(--spacer-small-3);
}
input[type=submit] {
  cursor: pointer;
}
input[type=text]:required:valid {
  background-color: var(--color-accent-bg);
}

textarea {
  min-width: 100%;
  padding: var(--spacer-small-3);
  resize: none;
}

/*
 * The `layout/` folder contains everything that takes part in laying out the site
 * or application. This folder could have stylesheets for the main parts of the
 * site (header, footer, navigation, sidebar...), the grid system or even CSS
 * styles for all the forms.
 */
.content {
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
  padding: var(--spacer);
  width: 100%;
}
@media screen and (min-width: 32rem) {
  .content {
    padding-left: var(--spacer-2);
    padding-right: var(--spacer-2);
  }
}
@media screen and (min-width: 108rem) {
  .content {
    max-width: 72rem;
    padding-left: var(--spacer-3);
    padding-right: var(--spacer-3);
  }
}

footer.footer {
  padding: var(--spacer) 0;
}
footer.footer * {
  margin: 0;
  padding: 0;
}

header.header {
  position: sticky;
  top: 0;
  gap: 4%;
  border-bottom: 1px solid var(--color-accent-bg);
  padding: var(--spacer) 0;
}
header.header * {
  margin: 0;
  padding: 0;
}
header.header .flourish {
  height: 5em;
  width: 10em;
}
header.header .headline {
  white-space: nowrap;
}
header.header hr {
  margin-top: -12px;
}
@media screen and (max-width: 20rem) {
  header.header .flourish {
    display: none;
  }
}
@media screen and (max-width: 32rem) {
  header.header .flourish {
    height: 3em;
    width: 6em;
  }
}

nav.nav:has(> *) {
  padding: var(--spacer-small-2);
  border-bottom: 1px solid var(--color-accent-bg);
}
nav.nav a.item {
  padding: var(--spacer-small-3);
}
nav.nav a.item .current {
  background-color: var(--color-accent-fg);
  color: var(--color-accent-bg);
}

/*
 * For smaller components, there is the `components/` folder. While `layout/` is
 * macro (defining the global wireframe), `components/` is more focused on
 * widgets. It contains all kind of specific modules like a slider, a loader, a
 * widget, and basically anything along those lines. There are usually a lot of
 * files in `components/` since the whole site/application should be mostly
 * composed of tiny modules.
 */
/*
 * If you have page-specific styles, it is better to put them in a `pages/`
 * folder, in a file named after the page. For instance, it’s not uncommon to
 * have very specific styles for the home page hence the need for a `_home.scss`
 * file in `pages/`.
 */
.dashboard .greeting .item {
  padding: var(--spacer-small-3);
}
.dashboard .greeting .text, .dashboard .greeting .home .schedule table caption, .home .schedule table .dashboard .greeting caption, .dashboard .home .greeting #days, .home .dashboard .greeting #days, .dashboard .greeting footer.footer, .dashboard .greeting header.header {
  display: inline;
  margin: 0;
  padding: 0;
}
.dashboard ul.guests {
  margin: var(--spacer);
  padding: 0;
  list-style-type: none;
}
@media screen and (min-width: 20rem) {
  .dashboard ul.guests {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 20rem) {
  .dashboard ul.guests {
    flex-direction: column;
  }
}
.dashboard ul.guests li.guest > a {
  padding: var(--spacer-small-2);
}
.dashboard ul.guests li.guest > a table, .dashboard ul.guests li.guest > a th, .dashboard ul.guests li.guest > a tr {
  margin: 0;
  border: 0;
  border-style: hidden;
  padding: 0;
}
.dashboard ul.guests li.guest > a table col.icon {
  width: 0;
}
.dashboard ul.guests li.guest > a table col.data {
  width: 100%;
}

.home .carousel {
  gap: 0.5%;
  overflow: scroll;
  overscroll-behavior: none;
  border-radius: var(--border-radius);
}
@media screen and (min-width: 32rem) {
  .home .carousel img.photo {
    width: 33%;
  }
}
@media screen and (max-width: 32rem) {
  .home .carousel img.photo {
    width: 16rem;
  }
}
.home .carousel img.photo {
  margin: 0;
  border-radius: 0;
  object-fit: cover;
}
.home .greeting {
  margin: var(--spacer) 0;
}
.home .greeting p {
  margin: 0;
}
.home .greeting #days {
  font-size: 48px;
}
.home .schedule table {
  border-width: thin 0 thin;
}
.home .schedule table caption {
  font-size: larger;
}
.home .schedule table tr td {
  text-align: center;
}
.home .schedule table tr td:first-child {
  text-align: start;
}
.home .schedule table tr td:last-child {
  text-align: end;
}

.login div.form {
  margin: auto;
}
.login div.form > form {
  margin: var(--spacer);
  width: 320px;
  padding: var(--spacer);
}
.login div.form > form input[type=submit] {
  width: 6em;
}
.login div.form > form input[type=text] {
  width: 100%;
}

.registry .tabbed input[type=radio] {
  display: none;
}
.registry .tabbed ul.tabs {
  margin: var(--spacer);
  padding: 0;
  list-style-type: none;
}
.registry .tabbed ul.tabs li.tab label:has(input[type=radio]) {
  padding: var(--spacer-small-3);
  min-width: 4em;
  cursor: pointer;
}
.registry .tabbed ul.tabs li.tab label:has(input[type=radio]):has(:checked) {
  background-color: var(--color-accent-fg);
  color: var(--color-accent-bg);
}
.registry .tabbed ul.contents {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.registry .tabbed:has(input[type=radio][id=home]:checked) .home {
  display: revert;
}
.registry .tabbed:has(input[type=radio][id=judaica]:checked) .judaica {
  display: revert;
}
.registry .tabbed .home,
.registry .tabbed .judaica {
  display: none;
}
.registry .tabbed .judaica ul.items {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.registry .tabbed .judaica ul.items li.item {
  max-width: 340px;
}
.registry .tabbed .judaica ul.items li.item img {
  margin: 0;
  width: 340px;
  height: 340px;
  object-fit: cover;
}
.registry .tabbed .judaica ul.items li.item p {
  margin: 0;
  width: 100%;
  padding: var(--spacer-small-2);
}

.rsvp div.form {
  margin: auto;
}
.rsvp div.form > form {
  max-width: 420px;
  width: 100%;
}
.rsvp div.form > form input[type=submit] {
  min-width: 6em;
}
.rsvp div.form > form input[type=radio] {
  display: none;
}
.rsvp div.form > form .radio > label:has(input[type=radio]) {
  padding: var(--spacer-small-3);
  min-width: 4em;
  cursor: pointer;
}
.rsvp div.form > form .radio > label:has(input[type=radio]):has(:checked) {
  background-color: var(--color-accent-fg);
  color: var(--color-accent-bg);
}
.rsvp div.form > form .section {
  width: inherit;
}
.rsvp div.form > form .section .item p {
  margin-bottom: 0;
}
.rsvp div.form > form:has(input[type=radio][id=no]:checked) .noonly {
  display: revert;
}
.rsvp div.form > form:has(input[type=radio][id=yes]:checked) .yesonly {
  display: revert;
}
.rsvp div.form > form .noonly,
.rsvp div.form > form .yesonly {
  display: none;
}
.rsvp div.form p {
  overflow-wrap: break-word;
  width: auto;
}

/*
 * On large sites and applications, it is not unusual to have different themes.
 * There are certainly different ways of dealing with themes but I personally
 * like having them all in a `themes/` folder.
 */

/*# sourceMappingURL=style.css.map */
