{% extends "index.html" %}

{%- block content -%}
  <div class="about">
    <h3>Common Jewish Wedding Terms:</h3>
    <ul>
      <li>
        <em>Chattan</em> - groom
      </li>
      <li>
        <em>Kallah</em> - bride
      </li>
      <li>
        <em>Kabbalat Panim</em> - reception
      </li>
      <li>
        <em>Chattan’s Tisch</em> - celebration with the groom and male guests
        around a table
      </li>
      <li>
        <em>Bedeken</em> - veiling of the bride
      </li>
      <li>
        <em>Chuppah</em> - marriage canopy
      </li>
      <li>
        <em>Kiddushin</em> - betrothal, groom giving ring to the bride
      </li>
      <li>
        <em>Ketubah</em> - Jewish marriage contract
      </li>
      <li>
        <em>Yichud</em> - union, when the bride and groom spend their first time
        alone together as husband and wife
      </li>
      <li>
        <em>Sheva Brachot</em> - seven blessings recited as a part of the
        wedding celebrations
      </li>
    </ul>

    <h3>Dress Code</h3>
    <p>
      The dress code at our wedding is formal wear/cocktail attire. Typically,
      men wear suits and women wear modest dresses.
    </p>

    <h3>Kabbalat Panim</h3>
    <p>
      Jewish Orthodox weddings start with a <em>kabbalat panim</em>, a
      pre-ceremony reception. The men and women will hold separate receptions.
      In our venue, they will be on opposite ends of the lobby. The groom will
      be sitting with his male friends, guests, and relatives at the
      <em>chattan’s tisch</em>, where he will sign the <em>ketubah</em>
      (marriage contract) along with two witnesses. The bride will sit on a
      throne and greet her guests. Hors d'oeuvres, food stations, and cocktails
      will be served.
    </p>
    <p>
      There is a Jewish wedding tradition for the mothers of the
      <em>chattan</em> and the <em>kallah</em> to break a plate during the
      <em>kabbalat panim</em>. The reason for this Jewish marriage custom is to
      show the seriousness of the commitment of the parties. Just like a broken
      plate can't be fully repaired, a broken relationship can't be fully
      repaired.
    </p>

    <h3>Bedeken</h3>
    <p>
      The <em>bedeken</em>, or the veiling of the bride, occurs at the end of
      the <em>kabbalat panim</em>, right before the ceremony. This custom is
      based on the story of Jacob in the Torah, when he accidentally marries the
      bride’s sister, Leah, because she is hidden under her veil. The bride sits
      in a chair at the front of the room, and the groom, surrounded by his
      friends and relatives, dances to the bride and covers her with a veil.
      This is also a symbol that he is marrying the bride for her inner beauty
      as well as her outer beauty.
    </p>

    <h3>Wedding Ceremony (<em>Chuppah</em>)</h3>
    <p>
      The ceremony takes place beneath the <em>chuppah</em>, an arch made of
      birch, flowers, or metal. The ceremony itself is sometimes referred to as
      the <em>chuppah</em> as well. Traditionally, the purpose of the
      <em>chuppah</em> is for the groom to give and the bride to accept the
      simple wedding band.
    </p>
    <p>
      Once the bride has joined the groom under the <em>chuppah</em>, she will
      walk around him in a circle seven times. Then the officiating rabbi will
      greet the guests and make a blessing on wine. The groom will then give the
      bride the simple wedding band, which has been purchased with his own money
      and is given as a gift to her. This is a sign that she is accepting his
      marriage proposal.
    </p>
    <p>
      Following the giving of the ring, the <em>ketubah</em> is read and seven
      blessings (<em>sheva brachot</em>) will be recited. Afterwards, the groom
      will break the wedding glass.
    </p>

    <h3>After the Ceremony</h3>

    <p>
      Immediately following the <em>chuppah</em>, the bride and groom will be
      taken into a room together to be alone for the first time as husband and
      wife (<em>yichud</em>). The entering of the bride and groom into the room
      must be witnessed by two people, as it is actually a requirement according
      to Jewish law. Finally, the reception will commence, which is a time for
      the guests to celebrate with the bride and groom, eat dinner, and dance.
    </p>

    <p>
      (Adapted from the following sources:
      <a
        href="http://www.shemtovphotography.com/blog-1/2018/7/2/a-guide-to-orthodox-jewish-wedding">
        shemtovphotography</a>,
      <a href="https://jewishgiftplace.com/pages/what-to-expect-at-an-orthodox-wedding">
        jewishgiftpalace</a>).
    </p>
  </div>
{%- endblock -%}
