{% extends "index.html" %}

{%- block title -%}
  Dashboard | Hannah & Zakhary's Wedding
{%- endblock -%}

{%- block content -%}
      <div class="dashboard">
        <h3>Welcome, {{ user.first() }}!</h3>
        <p>
          We found the following guests on your invitation:
        </p>
        <ul class="guests">
          {%- for guest in guests -%}
            {% call render(guest) %}
          {%- endfor -%}
        </ul>
      </div>
{%- endblock -%}

{%- macro render(guest) -%}
            <li class="guest">
              <a class="name" href="/rsvp?guest={{ guest.user().ident }}">
                <div>{{ guest.user() }}</div>
                {%- if let Some(reply) = guest.reply() -%}
                  <hr>
                  <table>
                    <col class="icon">
                    <col class="data">
                    <tr>
                      <td><i class="fa-solid fa-envelope-open-text"></i></td>
                      <td>{{ reply.attend }}</td>
                    </tr>
                    {%- if let Some(meal) = reply.meal -%}
                      <tr>
                        <td><i class="fa-solid fa-utensils"></i></td>
                        <td>{{ meal }}</td>
                      </tr>
                    {%- endif -%}
                    {%- if let Some(msg) = reply.msg -%}
                      {%- if !msg.is_empty() -%}
                        <tr>
                          <td><i class="fa-solid fa-message"></i></td>
                          <td>{{ msg }}</td>
                        </tr>
                      {%- endif -%}
                    {%- endif -%}
                  </table>
                {%- endif -%}
              </a>
            </li>
{%- endmacro -%}
