{% extends "index.html" %}

{%- block title -%}
  Dashboard | Hannah & Zakhary's Wedding
{%- endblock -%}

{%- block content -%}
      <div class="dashboard">
        <h3>Welcome, {{ user.first() }}!</h3>
        <ul>
          {% for guest in guests %}
            <li>
              <a href="/rsvp/{{ guest.user().ident }}">
                {{ guest.user() }}
              </a>
              <span>
                {% if let Some(reply) = guest.reply() -%}
                  <span>{{ reply.attend }}</span>
                  {%- if let Some(meal) = reply.meal -%}
                    <span>, {{ meal }}</span>
                  {% endif %}
                  {%- if let Some(msg) = reply.msg -%}
                    {%- if !msg.is_empty() -%}
                      <span>, {{ msg }}</span>
                    {% endif %}
                  {% endif %}
                {% endif -%}
              </span>
            </li>
          {% endfor %}
        </ul>
      </div>
{%- endblock -%}
