{% extends "index.html" %}

{%- block nav -%}
      <a class="item" href="/travel">Accommodations</a>
      <a class="item" href="/registry">Registry</a>
      <a class="item" href="/dashboard">RSVP</a>
{%- endblock -%}

{%- block content -%}
      <script type="text/javascript" src="/script/days.js" async></script>

      <img class="pos-right" src="/assets/img/engagement.jpg" width="35%">

      <div class="tx-justify">
        <p>
          Welcome to our wedding homepage. We're so excited to celebrate with
          you in only <span id="days"></span>!
        </p>
        <p>
          In the meantime, you can <a href="/login">log in</a> to RSVP or check
          out our <a href="/registry">gift registry</a>.
        </p>
      </div>
{%- endblock -%}
