{% extends "index.html" %}

{%- block content -%}
      <div class="home">
        <script type="text/javascript" src="/script/days.js" async></script>

        <div class="greeting">
          <img
            class="photo"
            src="/assets/img/engagement.jpg"
          >
          <div class="text">
            <p>
              Welcome to our wedding homepage. We're so excited to celebrate with
              you in:
            </p>
            <p
              id="days"
            ></p>
            <p>
              In the meantime, please RSVP by May 1st, and feel free to check out
              our registry.
            </p>
          </div>
        </div>

        <div class="schedule">
          <table>
            <caption>Schedule</caption>
            <tr>
              <td>Kabbalat Panim</td>
              <td>5:30 PM</td>
            </tr>
            <tr>
              <td>Chuppah</td>
              <td>6:30 PM</td>
            </tr>
          </table>
        </div>
      </div>
{%- endblock -%}
