{% extends "base.html" %}

{%- block head -%}
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=7,8,edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#e6eff5">

  <!-- Site -->
  <title>{%- block title -%}Hannah & Zakhary's Wedding{%- endblock -%}</title>
  <meta content="Hannah & Zakhary's Wedding, taking place on 06 June, 2023." name=description>

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Corinthia">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cabin">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Joan">

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-color/1.9.1/open-color.min.css">
  <link rel="stylesheet" href="/style.css">

  <!-- Favicon -->
  <link rel="apple-touch-icon" href="/assets/img/favicon/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/assets/img/favicon/favicon-16x16.png" type="image/png" sizes="16x16">
  <link rel="icon" href="/assets/img/favicon/favicon-32x32.png" type="image/png" sizes="32x32">
  <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
{%- endblock -%}

{%- block header -%}
  <svg class="flourish">
    <use href="/assets/svg/flowers-left.svg#layer-1"></use>
  </svg>
  <div class="headline">
    <a class="fx-unlink" href="/">
      <h1 class="ft-cursive ft-normal">
        Hannah & Zakhary
      </h1>
      <hr>
      <p>
        2023.06.06
      </p>
    </a>
  </div>
  <svg class="flourish">
    <use href="/assets/svg/flowers-right.svg#layer-1"></use>
  </svg>
{%- endblock -%}

{%- block nav -%}
  <a class="item" href="/about">About</a>
  <a class="item" href="/travel">Accommodations</a>
  <a class="item" href="/registry">Registry</a>
  <a class="item" href="/dashboard">RSVP</a>
{%- endblock -%}

{%- block footer -%}
  <p>
    We hope to see you there!
  </p>
  <br>
  <p class="copyright">
    <small>&copy; 2023 Kaplan</small>
  </p>
{%- endblock -%}
