{% extends "index.html" %}

{%- block title -%}
  Login | Hannah & Zakhary's Wedding
{%- endblock -%}

{%- block content -%}
  <div class="login">
    <div class="body">
      <p>
        Log in using your first and last name. You can update your RSVP status
        up until May 1st.
      </p>
    </div>
    <div class="form">
      <form action="/login" method="post">
        {%- if let Some(msg) = msg -%}
          <div class="msg error">
            {{ msg }}
          </div>
        {%- endif -%}
        <label for="first"></label>
        <input type="text" name="first" id="first" placeholder="First name" required>
        <label for="last"></label>
        <input type="text" name="last" id="last" placeholder="Last name" required>
        <input type="submit" value="Login">
      </form>
    </div>
  </div>
{%- endblock -%}
