{% extends "index.html" %}

{%- block title -%}
  RSVP | Hannah & Zakhary's Wedding
{%- endblock -%}

{%- block content -%}
      <div class="rsvp">
        <div>
          <p>
            Hey {{ user.first() }}, will you be able to attend?
          </p>
        </div>

        <div class="form">
          <form action="/rsvp" method="post">

            <div name="attend">
              <label for="yes">Yes</label>
              <input type="radio" name="attend" id="yes" value="Yes" required>
              <label for="no">No</label>
              <input type="radio" name="attend" id="no" value="No" required>
            </div>

            <div class="yesonly">
              <p>We're so glad you can make it!</p>
              <div name="meal">
                <label for="meat">Meat</label>
                <input type="radio" name="meal" id="meat" value="Meat" checked>
                <label for="fish">Fish</label>
                <input type="radio" name="meal" id="fish" value="Fish">
                <label for="veggie">Veggie</label>
                <input type="radio" name="meal" id="veggie" value="Veggie">
              </div>
              <label for="msg"></label>
              <textarea name="msg" id="msg" rows="8" cols="40"
                placeholder="Leave us a message..."></textarea>
            </div>

            <input type="submit" value="RSVP">

          </form>
        </div>
      </div>
{%- endblock -%}
