{% extends "index.html" %}

{%- block content -%}
      <div class="tx-justify">
        <h2>Hotels</h2>
        <p>
          We are excited that you will be joining us at our simcha! If you're
          visiting from out-of-town, please see the following hotels in the
          area.
        </p>
        <ul>
          <h3>
            Thornhill, near Kosher restaurants
          </h3>
          <li>
            <a href="http://www.libertysuites.ca/index.html">
              Liberty Suites
            </a>
          </li>
          <br>
          <h3>
            Vaughan, near wedding hall
          </h3>
          <li>
            <a href="https://www.montecarloinns.com/vaughan-suites">
              Monte Carlo Inn
            </a>
          </li>
          <li>
            <a href="https://www.hilton.com/en/hotels/yyzvagi-hilton-garden-inn-toronto-vaughan/">
              Hilton Garden Inn
            </a>
          </li>
          <li>
            <a href="https://www.marriott.com/en-us/hotels/yyzvn-courtyard-toronto-vaughan/overview">
              Courtyard By Marriot
            </a>
          </li>
          <li>
            <a href="https://www.marriott.com/en-us/hotels/yyztv-residence-inn-toronto-vaughan/overview">
              Residence Inn by Marriot
            </a>
          </li>
        </ul>
      </div>
{%- endblock -%}
