{% extends "index.html" %}

{%- block content -%}
  <div class="tx-justify">
    <h2>Hotels</h2>
    <p>
      We are excited that you will be joining us at our simcha! If you're
      visiting from out-of-town, please see the following hotels in the
      area.
    </p>
    <ul>
      <h3>
        Thornhill, near Kosher restaurants
      </h3>
      <li>
        <a href="http://www.libertysuites.ca/index.html">
          Liberty Suites
        </a>
      </li>
      <br>
      <h3>
        Vaughan, near wedding hall
      </h3>
      <li>
        <a href="https://www.montecarloinns.com/vaughan-suites">
          Monte Carlo Inn
        </a>
      </li>
      <li>
        <a href="https://www.hilton.com/en/hotels/yyzvagi-hilton-garden-inn-toronto-vaughan/">
          Hilton Garden Inn
        </a>
      </li>
      <li>
        <a href="https://www.marriott.com/en-us/hotels/yyzvn-courtyard-toronto-vaughan/overview">
          Courtyard By Marriot
        </a>
      </li>
      <li>
        <a href="https://www.marriott.com/en-us/hotels/yyztv-residence-inn-toronto-vaughan/overview">
          Residence Inn by Marriot
        </a>
      </li>
    </ul>
    <h2>Restaurants</h2>
    <p>
      If you're looking for nearby kosher restaurants, we recommend you try one
      of these options.
    </p>
    <ul>
      <h3>
        Dairy
      </h3>
      <li>
        <a href="https://d-lites.ca">
          D-Lite's
        </a>
      </li>
      <li>
        <a href="https://cafesheli.com">
          Cafe Sheli
        </a>
      </li>
      <li>
        <a href="https://www.briut.ca">
          La Briut Cafè
        </a>
      </li>
      <li>
        <a href="https://tov-li.com">
          Tov-li
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/Myzaidyspizza/">
          My Zaidy's Pizza
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/kosherpizzato/">
          Thornhill Kosher Pizza
        </a>
      </li>
      <br>
      <h3>
        Meat
      </h3>
      <li>
        <a href="http://www.balilaffa.com">
          Ba-Li Laffa
        </a>
      </li>
      <li>
        <a href="https://shelisbfc.com">
          Sheli's Burgers and Fried Chicken
        </a>
      </li>
      <li>
        <a href="https://howiets.ca">
          Howie T's Burger Bar
        </a>
      </li>
    </ul>
  </div>
{%- endblock -%}
